body * {
    position: relative;
    line-height: 1.0em;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    @include transition(0.2s);
    text-decoration: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    overflow-wrap: break-word;
    word-break: break-all;
}

img {
    position: relative;
    width: 100%;
    height: auto;
}

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }    
}