$black: black;
$light_black: #383838;

$white: white;

$dark_grey: #5e5e5e;
$grey: #c2c2c2;
$light_grey: #e2e2e2;

$dark_blue: #000c6d;
$blue: #081ed1;
$light_blue: #e2edff;

$dark_green: #104c11;
$green: #1f7c20;
$light_green: #e8ffed;

$dark_red: #8c0000;
$red: #c40505;
$light_red: #ffb2b2;

$dark_yellow: #424000; 
$yellow: #e6ea00;
$light_yellow: #f9f795;

$dark_orange: #966800;
$orange: #db7400;
$light_orange: #fffce2;