//Generic Text Elements
.logo {
    color: $light_black;
    font-size: 36px;
    a {
        text-decoration: none;
        @include link-colors($dark_grey, $dark_grey, $dark_grey, $dark_grey, $dark_grey);
    }
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.name {
    font-weight: bold;
    font-size: 16px;
}

.info {
    font-size: 14px;
}

.message {}

.message.welcome {
    text-align: center;
    font-size: 30px;
    a {
        text-decoration: underline;
    }
}

.message.login_status {
    color: $black;
    font-size: 12px;
}

.message.flash {
    font-size: 16px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    @include border-radius(5px);
}

.caption {
    text-align: center;
    font-size: 14px;
    color: $dark_grey;
}

.key {
    font-size: 12px;
    font-weight: bold;
    color: $light_black;
}

.value {
    font-size: 12px;
    color: $black;
}

.value_item {
    font-size: 12px;
    color: $black;
}

.item {
    position: relative;
}

.link {
    font-size: 16px;
    text-decoration: none;
    @include link-colors($blue, $blue, $blue, $blue, $blue);
    @include transition(0.2s);
    &:hover {
        background-color: $light_blue;
    }
}

.link_block {
    display: block;
    text-decoration: none;
    @include link-colors($black, $black, $black, $black, $black);
    @include transition(0.2s);
    &:hover {
        background-color: $light_blue;
    }
}

//Generic Form Elements
.label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: $dark_grey;
}

.field {}

.input {
    border: 1px solid $grey;
    font-size: 18px;
    height: 24px;
    width: 70%;
    padding-left: 5px;
}

.input.name {
    width: 100%;
}

.input.area {
    height: 300px;
    width: 100%;
}

//Generic Elements
.button {
    background-color: $grey;
    text-align: center;
    @include transition(0.2s);
    cursor: pointer;
    &:hover {
        background-color: $light_blue;
    }
}

.button.submit {
    border: 1px solid $dark_grey;
    font-size: 18px;
    padding: 10px 15px;
    @include border-radius(3px);
}

.button.cancel {
    font-size: 18px;
    text-decoration: underline;
    background-color: transparent;
    @include link-colors($blue, $blue, $blue, $blue, $blue);
}

.button.delete {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $red;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f00d";
    }
}

.button.pin {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $grey;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $red;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f08d";
    }
}

.pinned {
    color: $red !important;

    &:hover {
        background-color: none;
        color: $grey !important;
    }

    &:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.button.calendar {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f073";
    }
}

.button.view_advanced {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f06e";
    }
}

.button.view_simple {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f070";
    }
}

.button.add {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 24px;
        font-family: "FontAwesome";
        color: $green;
        content: "\f055";
    }
}

.button.expand {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f196";
    }
}

.button.collapse {
    position: relative; //top: 5px;
    //right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f147";
    }
}

.button.minimize {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: $light_blue;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f2d2";
    }
}

.button.layered {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        text-indent: 0px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f0c8";
    }
}

.button.horizontal {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        text-indent: 0px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f07e";
    }
}

.button.vertical {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        text-indent: 0px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f07d";
    }
}

.button.maximize {
    position: absolute;
    top: 5px;
    right: 5px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f2d0";
    }
}

.button.gantt {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 20px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px;
    &:hover {
        background-color: none;
        color: $blue;
    }
    &:before {
        text-indent: 0px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f0ae";
    }
}

.button.permissions {
    position: absolute;
    top: 5px;
    right: 20px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px !important;
    &:hover {
        background-color: transparent !important;
        color: $blue !important;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f023";
    }
}

.button.edit {
    position: relative;
    top: 0px;
    right: 0px;
    overflow: hidden;
    background-color: transparent;
    border: none;
    height: 18px;
    line-height: 18px;
    width: 18px;
    text-indent: 9999px;
    color: $black;
    margin: 0px;
    padding: 0px !important;
    &:hover {
        background-color: transparent !important;
        color: $blue !important;
    }
    &:before {
        position: absolute;
        text-indent: 0px;
        left: 3px;
        display: block;
        font-size: 14px;
        font-family: "FontAwesome";
        content: "\f040";
    }
}

.button.settings {
    position: relative;
    display: block;
    padding: 15px 0px;
    height: 20px;
    color: $black;
    line-height: 20px;
    width: 100%;
    @include border-radius(0px);
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-indent: 9999px;
    overflow: hidden;
    text-align: center;
    @include transition(0.2s);
    cursor: pointer;
    &:hover {
        background-color: $light_blue;
    }
    &:before {
        position: absolute;
        display: block;
        text-indent: 0px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-family: "FontAwesome";
        content: "\f1de";
        text-align: center;
    }
}

//Images
.image {}

//Generic Behavior Properties
.show {
    display: block;
}

.hide {
    display: none;
}

.disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: $dark_grey;
}

//Generic Text Colors
.alert {
    color: $dark_yellow;
    background-color: $light_yellow;
    border-color: $dark_yellow;
}

.fail {
    color: $dark_red;
    background-color: $light_red;
    border-color: $dark_red;
}

.success {
    color: $dark_green;
    background-color: $light_green;
    border-color: $dark_green;
}

.none {
    color: #939393;
}

.important {
    font-weight: bold;
    color: $red;
}

.finished,
button.finished {
    color: $green;
    background-color: $light_green;
}

.doing,
button.doing {
    color: $blue;
    background-color: $light_orange;
}

.new,
button.new {
    color: $orange;
    background-color: white;
}

.waiting,
button.waiting {
    color: $black;
    background-color: $pink;
}

.dump,
button.dump {
    color: $black;
    background-color: white;
}

.archived {
    color: $black;
    background-color: $light_grey;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

//Heighlight things that are mine
.is_mine {
    background-color: #f9f795;
}

.markdown {
    @include default_browser();
    img.small {
        width: 25%;
        height: auto;
    }
    img.medium {
        width: 50%;
        height: auto;
    }
    img.large {
        width: 100%;
        height: auto;
    }
}

.image.profile {
    cursor: pointer;
    position: relative;

    .add-photo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
        font: normal normal normal 14px/1 FontAwesome;

        &:after {
            content: "\f067";
            color: #fff;
            font-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:hover .add-photo {
        opacity: 1;
    }
}

.avatar {
    height: 40px;
    width: 40px;
    background-color: $light_grey;
    color: black;
    font-size: 20px;
    line-height: 40px;
    text-align: center !important;
    @include border-radius(40px);
    overflow: hidden;
}

.tab {
    position: relative;
    display: inline-block;
    border: 1px solid $black;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    //color: $grey;
    color: $black;
    font-size: 11px;
    font-family: 'Didact Gothic';
    padding: 2px 6px 3px;
    z-index: 3;
    top: 1px;
    &:hover {
        cursor: pointer;
    }
}