//Components
//List of Links Component
.links {
    padding: 15px;
    .item {
        display: inline-block;
        border-right: 1px solid #c2c2c2;
        padding: 0px 10px 0px;
        &:last-child {
            border-right: none;
        }
    }
}

//Attributes and Item Component with Key Value Pairs
.attributes,
.item {
    .key {
        clear: left;
        float: left;
        margin-right: 3px;
        margin-bottom: 3px;
    }
    .value {
        clear: right;
        float: left;
        margin-bottom: 3px;
    }
    .value.description {
        width: 100%;
    }
    .value_item {
        display: block;
        clear: left;
        padding-left: 10px;
        @include clearfix();
    }
    .value_item.last {
        margin-bottom: 5px;
    }
    @include clearfix();
}

//Customize Settings Component
.settings {
    padding: 10px 10px 5px;
    background-color: $light_grey;
    .item {
        display: block;
        text-decoration: underline;
        font-size: 14px;
        * {
            font-size: 14px;
            height: 20px;
            line-height: 20px;
        }
        .input {
            width: 70px;
        }
        @include clearfix();
    }
}

//Customize Preview List Component
.preview {
    .item {
        display: block;
        padding: 0px;
        border-bottom: 1px solid #c2c2c2;
        .link_block {
            padding: 10px 5px 10px;
        }
        .name {
            margin-bottom: 5px;
        }
        .info {
            margin-bottom: 5px;
        } //For descriptions in list items.  Only display first line and hide with ellipsis
        .info.description {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}

//Customize Specific Preview List Components
.preview.tasks {}

.preview.projects {
    .name {
        font-size: 20px;
    }
}

.preview.users {
    position: relative;
    .item.alert {}
    .item {}
    .link_block {
        padding: 10px 5px;
        @include clearfix();
        &:hover {
            .attributes {
                background-color: white;
            }
        }
    }
    .avatar {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .info {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .key.user {
        float: none;
        display: block;
        font-size: 16px;
    }
    .value.user {
        float: none;
        display: block;
        font-size: 14px;
        padding-left: 3px;
    }
    .progress_description {
        margin-top: 10px;
    }
    .message.free {
        font-weight: bold;
        color: $green;
        padding-left: 5px;
    }
    .details {
        margin-top: 10px;
        position: relative;
        @include clearfix();
        width: 100%;
    }
    .attributes {
        -webkit-box-shadow: 1px 1px 5px 1px rgba(138, 138, 138, 1);
        -moz-box-shadow: 1px 1px 5px 1px rgba(138, 138, 138, 1);
        box-shadow: 1px 1px 5px 1px rgba(138, 138, 138, 1);
        background-color: $light_blue;
        margin-left: 15px;
        margin-right: 15px;
    }
    .attributes.projects {
        margin-top: 10px;
        padding: 5px;
        @include border-radius(5px);
        color: black;
    }
    .attributes.task-metrics {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 20px;
        @include border-radius(5px);
        .key {
            font-weight: normal;
            color: black;
        }
        .key.alert {
            background-color: transparent;
            color: black;
        }
        .key.success {
            background-color: transparent;
            color: black;
        }
        .value {
            font-weight: normal;
            color: black;
        }
        .value.alert {
            background-color: transparent;
            font-weight: bold;
            color: $red;
        }
        .value.success {
            background-color: transparent;
            color: $green;
        }
    }
}

//Figure Component
.figure {
    .image {}
    .caption {
        text-align: center;
    }
}

//Form Component
.form {
    width: 50%;
    margin: auto;
    border: 1px solid #c2c2c2;
    padding: 30px;
    .title {
        border-bottom: 1px solid black;
        margin-bottom: 15px;
    }
    .field {
        position: relative;
        margin-bottom: 15px;
    } //VALIDATION_ERRORS
    .validation_errors {
        position: relative;
        top: -10px;
        .item {
            list-style-type: disc;
            list-style-position: inside;
            color: red;
        }
    }
    .button.trash {
        height: 24px;
        line-height: 24px;
        width: 24px;
        &:before {
            font-size: 20px;
        }
    }
}

//Customize Specific Forms
.form.assign_user {
    background-color: #e2edff;
    margin-top: 10px;
    width: 100%;
    .input {
        width: 100%;
    }
}

.form.task_quick_add {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 5px 0px 10px;
    margin: 0px;
    margin-top: 0px;
    position: relative;
    .field {
        display: block;
        width: 100%;
        padding-right: 75px;
        margin-bottom: 0px;
    }
    .input {
        font-size: 12px;
        line-height: 20px;
        height: 20px;
        width: 100%;
        font-weight: normal;
    }
    .button {
        position: absolute;
        top: 5px;
        right: 0px;
        width: 70px;
        text-align: center;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        padding: 0px;
    }
}

.form.update_progress {
    width: 100%;
    border: none;
    padding: 0px 5px 0px;
    .title {
        font-size: 14px;
    }
    .label {
        color: black;
        font-size: 12px;
    }
    .input {
        width: 100%;
        font-size: 12px;
    }
    .button {
        padding: 5px;
        font-size: 12px;
        @include border-radius(2px);
    }
}

//Pagination Links Component
.pagination {
    display: inline-block;
    margin: auto;
    @include clearfix();
}

.pagination .item {
    float: left;
    a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 8px 16px;
    }
    &.selected {
        a {
            background-color: #4CAF50;
            color: white;
        }
    }
    &:not(.selected) {
        a:hover {
            background-color: #ddd;
        }
    }
}

.section.projects,
.section.tasks,
.section.code_checker_results {
    .header {
        border-bottom: none;
    }
}

.sub-section {
    background-color: transparent;
    text-align: center; //to center pagination
    * {
        text-align: left;
    }
    .pagination {
        margin-top: 15px;
    }
}

.context-menu {
    padding: 5px 0px;
    background-color: $light_grey;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(139, 139, 139, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(139, 139, 139, 1);
    box-shadow: 1px 1px 5px 1px rgba(139, 139, 139, 1);
    position: absolute;
    display: none;
    .item {
        padding: 5px 15px;
        font-size: 12px;
        font-family: 'Arial';
        &:hover {
            background-color: $light_blue;
            cursor: pointer;
        }
    }
}

.popup.gantt {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.4);
    overflow-y: auto;
    height: calc(100% - 50px);
    .form {
        background-color: white;
    }
}

.code_checker {
    background-color: #e2e2e2;
    padding: 15px;
    text-align: center;
    .button.add_code_checker {
        margin-top: 15px;
    }
    .title {
        font-size: 18px !important;
        display: block !important;
        padding-top: 0px !important;
        padding-right: 0px !important;
    }
    .attributes.metrics {
        position: relative;
        text-align: left;
        padding: 0px !important;
    }
    .attributes.metrics.code_checker_project {
        margin-bottom: 0px !important;
    }
    .attributes.metrics.add_url {
        margin-top: 0px !important;
    }
    .button.run {
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
    }
    .key {
        margin-bottom: 3px !important;
    }
    .key.add_url {
        margin-top: 10px;
    }
    .value.add_url {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 0px !important;
        .form {
            padding-bottom: 0px; 
            .field {
                .input {
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                padding-right: 43px;
                margin-bottom: 0px;
            }
            .button.submit {
                width: 40px;
                height: 20px;
                line-height: 20px;
                padding: 0px !important;
                font-size: 12px !important;
                position: absolute;
                top: 0px;
                right: 0px;
                margin-right: 0px !important;
            }
        }
    }
    .value_item.urls_to_check {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
        &:hover {
            background-color: $light_blue;
        }
        .button.delete {
            height: 10px;
            width: 10px;
            line-height: 10px;
            top: 0px;
            &:before {
                font-size: 10px;
            }
        }
    }
    margin-bottom: 15px;
    .button.edit.metrics {
        position: absolute;
        top: 0px;
        right: 0px;
        &:before {
            font-size: 12px;
        }
    }
    .form.metrics {
        text-align: left;
        .label {
            font-size: 12px;
            margin-bottom: 3px;
        }
        .field {
            margin-bottom: 10px;
        }
        .input {
            height: 20px !important;
            line-height: 20px !important;
            font-size: 12px !important;
            margin-bottom: 0px;
        }
        .buttons {
            .button.submit {
                font-size: 12px;
                padding: 3px;
                margin-right: 3px;
            }
        }
    }
}

.code_checker_results {
    .item.error {
        .name {
            color: $red;
        }
    }
}