//Layout Site
.site {
    .header {
        padding: 15px;
        .logo {
            margin-bottom: 10px;
        }

        .message.login_status {
            margin-left: 10px;
        }

        .message.flash {
            margin-top: 10px;
        }
    }

    .main {
        padding: 15px;
        @include clearfix();
    }

    .footer {
        padding: 15px;
    }
}

//Layouts for Main Element
.main.home {
    .section.projects {
        width: 40%;
        &.full {
            width: 70%;
        }
    }

    .section.projects_two {
        width: 100%;
    }
    .section.tasks {
        width: 30%;
        &.minimized {
            width: 0%;
            * {
                display: none;
            }

            .header {
                display: block;
                height: 20px;
                width: 80px;
                border: none;
                .title {
                    background-color: $light_orange;
                    position: absolute;
                    right: 15px;
                    top: 0px;
                    font-size: 10px;
                    display: block;
                }
                .button.minimize,.button.maximize {
                    display: block;
                }
            }
        }
    }
    .section.users {
        width: 30%;
    }
}

.main.user {
    .section.details {
        width: 33.33%;
    }
    .section.tasks {
        width: 33.33%;
    }
    .section.details {
        width: 33.33%;
    }
}

.main.project {
    .section.details {
        width: 33.33%;
    }
    .section.tasks {
        width: 33.33%;
    }
    .section.users {
        width: 33.33%;
    }
}

.main.task {
    .section.details {
        width: 67%;
    }
    .section.users {
        width: 33%;
    }    
}


//Sections
.section {
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;

    text-align: center; //to center pagination
    * {
        text-align: left;
    }

    .header {
        position: relative;
        border-bottom: 1px solid $black;
        padding: 0px;

        .title {
            margin-bottom: 0.2em;
        }
    }

    .tabs {

    }

    .pagination {
        margin-top: 15px;
    }
}

//Customize inside
.section.tasks {

}

//Customize inside
.section.projects {

}

//Customize inside
.section.users {
    .form.assign_user {    
        margin-top: 10px;
    }
}

//Customize inside
.section.details {
    .header {
        border-bottom: none;
    }
    .title {
        font-size: 40px;
        border-bottom: none;
        display: inline-block;
        padding-right: 20px;
    }
    .name {
        font-size: 34px;
        font-weight: normal;
        color: #5e5e5e;
        margin-bottom: 5px;
    }
    .figure {
        border: 1px solid black;
        width: 50%;
        margin-bottom: 25px;
    }

    .key,
    .value {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .info {
        position: relative;
        font-size: 16px;
    }

    .info.description.edit {
        text-align: right;
    }

    .button.edit.description {
        position: relative;
        text-indent: 0px;
        width: auto;
        height: auto;
        overflow: initial;
        &:before {
            position: relative;
            display: inline-block;
            float: right;
            top: 0px;
            left: 5px;
        }
    }
    .button.edit.name {
        font-size: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .attributes.metrics {
        background-color: $light_grey;
        .key,.value,.link {
            font-size: 12px;
        }
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .attributes.extra{
        background-color: $light_grey;
        .key,.value,.link {
            font-size: 10px;
        }
        padding: 10px;
    }    

    .form {
        width: 100%;
        padding: 0px;
        border: none;
        padding-bottom: 15px;
        .input.name {
            font-size: 30px;
            height: 40px;
        }
        .buttons {
            text-align: right;
        }

        .button.submit {
            display: inline-block;
            font-size: 14px;
            padding: 5px 10px;
            margin-right: 10px;
        }

        .button.cancel {
            display: inline-block;
            font-size: 14px;
        }
    }

    .form, .input, .area {
        font-size: 16px;
        width: 100%;
    }

    .value.bio, .value.description {
        padding-left: 3px;
    }

    .links {
        padding: 15px 0px 15px;
        border-top: 1px solid #c2c2c2;
    }
}


.section.projects_two {
    .header {
        position: relative;
        height: 64px;
        background-color: $light_grey;
        .link_block {
            height: 64px;
        }

        .avatar {
            position: absolute;
            background-color: $white;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        .info {
            position: absolute;
            left: 60px;
            top: 50%;
            transform: translateY(-50%);

            .value {
                font-size: 16px;
            }
        }
        .title {
            position: relative;
            line-height: 40px;
            margin-left: 15px;
            margin-right: 5px;
            display: inline-block;
        }
        .link {
            display: inline-block;
            text-decoration: underline;
            font-size: 16px;
            line-height: 40px;
        }

        .button.expand, button.collapse {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);            
        }

        .button.add {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);                 
        }
    }

    &.status {
        .header {
            height: 40px;
        }
    }

    .preview {
        padding-left: 25px;
        background-color: transparent;
    }
}