//Layout Site
.site {
    .header {
        padding: 15px;
        .logo {
            margin-bottom: 10px;
        }
        .message.login_status {
            margin-left: 10px;
        }
        .message.flash {
            margin-top: 10px;
        }
    }
    .main {
        padding: 15px;
        @include clearfix();
    }
    .footer {
        padding: 15px;
    }
}

//Layouts for Main Element
.main {
    .section {
        .button.view_advanced {
            position: absolute;
            top: 5px;
            right: 100px;
        }
        .button.view_simple {
            position: absolute;
            top: 5px;
            right: 100px;
        }
        &.users {
            .button.view_advanced {
                position: absolute;
                top: 5px;
                right: 40px;
            }
            .button.view_simple {
                position: absolute;
                top: 5px;
                right: 40px;
            }
        }
        .button.layered {
            position: absolute;
            top: 5px;
            right: 60px;
        }
        .button.vertical {
            position: absolute;
            top: 5px;
            right: 40px;
        }
        &.maximized {
            .button.view_advanced {
                position: absolute;
                top: 5px;
                right: 130px;
            }
            .button.view_simple {
                position: absolute;
                top: 5px;
                right: 130px;
            }

            .button.layered {
                position: absolute;
                top: 5px;
                right: 90px;
            }
            .button.vertical {
                position: absolute;
                top: 5px;
                right: 70px;
            }
            .button.horizontal {
                position: absolute;
                top: 5px;
                right: 50px;
            }

            &.projects {
                .button.view_advanced {
                    position: absolute;
                    top: 5px;
                    right: 150px;
                }
                .button.view_simple {
                    position: absolute;
                    top: 5px;
                    right: 150px;
                }

                .button.layered {
                    position: absolute;
                    top: 5px;
                    right: 110px;
                }
                .button.vertical {
                    position: absolute;
                    top: 5px;
                    right: 90px;
                }
                .button.horizontal {
                    position: absolute;
                    top: 5px;
                    right: 70px;
                }
                .button.gantt {
                    position: absolute;
                    top: 5px;
                    right: 50px;
                }
            }//&.projects

            &.users {
                .button.view_advanced {
                    position: absolute;
                    top: 5px;
                    right: 50px;
                }
                .button.view_simple {
                    position: absolute;
                    top: 5px;
                    right: 50px;
                }
            }//&.users
        }//&.maximized
    }//&.section
}//&.main

.main.user,
.main.project {
    .section {
        .button.view_advanced {
            position: absolute;
            top: 5px;
            right: 65px;
        }
        .button.view_simple {
            position: absolute;
            top: 5px;
            right: 65px;
        }
        .button.layered {
            position: absolute;
            top: 5px;
            right: 25px;
        }
        .button.vertical {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}

.main.home {
    position: relative;
    .section.projects {
        width: 40%;
    }
    .section.projects_two {
        width: 100%;
    }
    .section.tasks {
        width: 30%;
    }
    .section.users {
        width: 30%;
    }
    .section.gantt {
        width: 100%;
    }
    .section.maximized {
        width: 100%;
        float: none;
        &.users {
            width: 50%;
            margin: auto;
        }
    }
    .section.minimized {
        display: none;
    }
}

.main.user {
    .section.details {
        width: 33.33%;
    }
    .section.tasks {
        width: 33.33%;
    }
    .section.details {
        width: 33.33%;
    }
}

.main.project {
    .section.details {
        width: 33.33%;
    }
    .section.tasks {
        width: 33.33%;
    }
    .section.users {
        width: 33.33%;
    }
}

.main.task {
    .section.details {
        width: 67%;
    }
    .section.users {
        width: 33%;
    }
}

//Sections
.section {
    position: relative;
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    .header {
        position: relative;
        border-bottom: 1px solid $black;
        padding: 0px;
        .title {
            margin-bottom: 0.2em;
        }
    }
}

//Customize inside
.section.tasks {}

//Customize inside
.section.projects {}

//Customize inside
.section.users {
    .form.assign_user {
        margin-top: 10px;
    }
}

.sub-section {
    margin-bottom: 20px;
}

.sub-section.projects {
    .gantt-chart {
        display: none;
        width: 100%;
    }
}

//Hide project tabs when in gantt layout mode
//Display controls though...
.sub-section.projects.gantt {
    .preview {
        display: none;
    }

    .gantt-chart {
        display: block;
    }
}

//Layout when in layered layout mode
.sub-section.layered {
    position: static !important;
    margin-top: 22px;
    .header {
        position: static !important;
        .button {
            position: relative;
            z-index: 2;
        }
    }
    .tab {
        position: absolute;
        border: 1px solid $grey;
        border-bottom: none;
        color: $grey;
        top: 45px;
        z-index: 1;
        &.dump {
            left: 15px;
        }
        &.waiting {
            left: 61px;
        }
        &.doing {
            left: 115px;
        }
        &.finished {
            left: 161px;
        }
    }
    .settings {
        display: none;
    }
    .preview {
        display: none;
    }
    .info.none {
        display: none;
    }
    .pagination {
        display: none;
    }
    &.selected {
        z-index: 100;
        .settings {
            display: block;
        }
        .tab {
            font-weight: bold;
            border: 1px solid $black;
            border-bottom: none;
            color: $black;
            z-index: 3;
        }
        .preview {
            display: block;
        }
        .pagination {
            display: inline-block;
        }
    }
}

.sub-section.horizontal {
    float: left;
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

//Customize inside
.section.details {
    .header {
        border-bottom: none;
    }
    .title {
        font-size: 40px;
        border-bottom: none;
        display: inline-block;
        padding-right: 20px;
    }
    .name {
        font-size: 34px;
        font-weight: normal;
        color: #5e5e5e;
        margin-bottom: 5px;
    }
    .figure {
        border: 1px solid black;
        width: 50%;
        margin-bottom: 25px;
    }
    .key,
    .value {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .info {
        position: relative;
        font-size: 16px;
    }
    .info.description.edit {
        text-align: right;
    }
    .button.edit.description {
        position: relative;
        text-indent: 0px;
        width: auto;
        height: auto;
        overflow: initial;
        &:before {
            position: relative;
            display: inline-block;
            float: right;
            top: 0px;
            left: 5px;
        }
    }
    .button.edit.name {
        font-size: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .attributes.metrics {
        background-color: $light_grey;
        .key,
        .value,
        .link {
            font-size: 12px;
        }
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .attributes.extra {
        background-color: $light_grey;
        .key,
        .value,
        .link {
            font-size: 10px;
        }
        padding: 10px;
    }
    .form {
        width: 100%;
        padding: 0px;
        border: none;
        padding-bottom: 15px;
        .input.name {
            font-size: 30px;
            height: 40px;
        }
        .buttons {
            text-align: right;
        }
        .button.submit {
            display: inline-block;
            font-size: 14px;
            padding: 5px 10px;
            margin-right: 10px;
        }
        .button.cancel {
            display: inline-block;
            font-size: 14px;
        }
    }
    .form,
    .input,
    .area {
        font-size: 16px;
        width: 100%;
    }
    .value.bio,
    .value.description {
        padding-left: 3px;
    }
    .links {
        padding: 15px 0px 15px;
        border-top: 1px solid #c2c2c2;
    }
}

.section.projects_two {
    .header {
        position: relative;
        height: 64px;
        background-color: $light_grey;
        .link_block {
            height: 64px;
        }
        .avatar {
            position: absolute;
            background-color: $white;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        .info {
            position: absolute;
            left: 60px;
            top: 50%;
            transform: translateY(-50%);
            .value {
                font-size: 16px;
            }
        }
        .title {
            position: relative;
            line-height: 40px;
            margin-left: 15px;
            margin-right: 5px;
            display: inline-block;
        }
        .link {
            display: inline-block;
            text-decoration: underline;
            font-size: 16px;
            line-height: 40px;
        }
        .button.expand,
        button.collapse {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
        .button.add {
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &.status {
        .header {
            height: 40px;
        }
    }
    .preview {
        padding-left: 25px;
        background-color: transparent;
    }
}