/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

////////////////////////////////
//// Generic Styles Below //////
////////////////////////////////

body * {
    line-height: 1.0em;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    @include transition(0.2s);
}

//LOGO
//For main logos
.logo {
    color: #383838;
    font-size: 36px;
    padding-bottom: 10px;
}

//MESSAGE
//For main messages to the user
.message {
    padding-left: 10px;

    &.main {
        text-align: center;
        font-size: 30px;
    }

    &.flash {
        display: block;
        text-align: center;
        height: 32px;
        line-height: 32px;
        font-size: 20px;
        @include border-radius(5px);
    }

    &.alert {
        color: #424000;
        background-color: #f9f795;
        border: 1px solid #424000;
    }

    &.fail {
        color: #680000;
        background-color: #ff9999;
        border: 1px solid #680000;
    }

    &.success {
        color: #02440d;
        background-color: #88f79a;
        border: 1px solid #02440d;
    }
}

//TITLE
//Usually used for main section titles
//E.g.
//--------(Section)-----------
//     (Section Header)
//Projects List (TITLE)
//------(Section Info)--------
//
//  -----------------
//  Manza 
//     Assigned Users:
//        - Ken
//        - Bob
//        - Joe
//  ------------------
//  Taiki Milk
//  ------------------
//  Fried Chicken
//  ------------------
.title {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

//NAME
//Usually used for item names
//E.g.
//--------(Section)-----------
//     (Section Header)
//Projects List (title)
//------(Section Info)--------
//
//  -----(item)-------
//  Manza (NAME)
//     Assigned Users:
//        - Ken
//        - Bob
//        - Joe
//  -----(item)-------
//  Taiki Milk (NAME)
//  -----(item)-------
//  Fried Chicken (NAME)
//  ------------------
.name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

//For basic information, usually below a name or title
.info {
    font-size: 14px;
    margin-bottom: 5px;

    &--none {
        color: red;
    }
}

//ATTRIBUTES
//Container for key-value pairs
//E.g.
//----(item)----
//Task #12 (Name)
//(ATTRIBUTES)
//  Creator (key): Ken Le (value)
//  Deadline (key): Monday (value)
//  Project (key): Manza (value)
.attributes {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//KEY
//The key in a key-value pair
//Currently we want key value pairs to be display left/right
//E.g.
//----(item)----
//Task #12 (Name)
//(Attributes)
//  Creator (KEY): Ken Le (Value)
//  Deadline (KEY): Monday (Value)
//  Project (KEY): Manza (Value)
.key {
    clear: left;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #383838;
    margin-bottom: 3px;
}

//Modifier for keys that don't have a value
.key--none {
    color: #5e5e5e;    
}

//VALUE
//The value in a key-value pair.  Display left/right
//E.g.
//-----(item)-------
//Task #12 (Name)
//(Attributes)
//  Creator (Key): Ken Le (VALUE)
//  Deadline (Key): Monday (VALUE)
//  Project (Key): Manza (VALUE)
.value {
    clear: right;
    float: left;
    font-size: 12px;
    padding-left: 3px;
    margin-bottom: 3px;
}

//Modifier for values that don't have a value
.value--none {
    color: red;
}

//VALUE==MULTIPLE ITEMS
//If the Value of a Key-Value pair ==  multiple items
//Do not display left/right.  Display like a list below.
//E.g.
//-----(item)-------
//Task #12 (Name)
//(Attributes)
//  Assigned to:
//    -Ken (VALUE_ITEM)
//    -Bob (VALUE_ITEM)
//    -Joe (VALUE_ITEM)
//  Creator (Key): Ken Le (value)
//  Deadline (Key): Monday (value)
//  Project (Key): Manza (value)
.value_item {
    clear: left;
    display: block;
    padding-left: 10px;
    border-bottom: none;
    font-size: 12px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.value_item.last {
    margin-bottom: 5px;
}

//SECTION_INFORMATION ITEM
//Main list items, main information.  
//E.g. 
//--------(Section)-----------
//     (Section Header)
//Projects List (title)
//------(Section Info)--------
//
//  -----(ITEM)-------
//  Manza (name)
//     Assigned Users:
//        - Ken
//        - Bob
//        - Joe
//  -----(ITEM)-------
//  Taiki Milk (name)
//  -----(ITEM)-------
//  Fried Chicken (name)
//  ------------------
.section_information { 
    .item {
        display: block;
        padding: 0px;
        border-bottom: 1px solid #c2c2c2;
        a {
            color: black;
            display: block;
            padding: 10px 5px 10px;
            text-decoration: none;
            &:hover {
                color: black;
                background-color: #e2edff;
            }
            &:visited {
                color: black;
            }
        }
    }
}

//FIGURE
//For figures
.figure {
    margin-bottom: 25px;
    .image {
        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    //CAPTION
    //For figure captions
    .caption {
        text-align: center;
        font-size: 14px;
        color: #5e5e5e;
    }
}

//FORM
.form {
    width: 50%;
    margin: auto;
    border: 1px solid #c2c2c2;
    padding: 30px;

    .title {
        margin-bottom: 15px;
    }
}

//FIELD
.field {
    margin-bottom: 15px;
}

//LABEL
.label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #5e5e5e;
}

//INPUT
.input {
    display: block;
    border: 1px solid #5e5e5e;
    font-size: 18px;
    height: 24px;
    width: 70%;
}

//BUTTON
.button {
    border: 1px solid black;
    background-color: #c2c2c2;
    width: 100px;
    font-size: 18px;
    height: 30px;
    text-align: center;
    @include transition(0.2s);
    cursor: pointer;

    &:hover {
        background-color: #e2edff;
    }
}




//Main sections of the website
//E.g.
//|Tasks List Section|    |Projects List Section|    |Users List Section    |
//|  Task 1          |    |  Manza              |    |  CEO: Shimada        |
//|  Task 2          |    |  Taki Milk          |    |  CTO: Phung          |
//|  Task 3          |    |  Fried Chicken      |    |  HR: Hung            |
.section {
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

#site_main:after {
  content: "";
  display: table;
  clear: both;
}

//////////////////////////////
/// Customizations Below /////
//////////////////////////////

//The header of the website, common in all pages
//E.g.
//-----------------
//  (site_header)
//-----------------
//   (site_nav)
//-----------------
//  (site_main)
//-----------------
//  (site_footer)
//-----------------
#site_header {
    padding: 15px;
}


//The navigation of the website, common in all pages
#site_nav {
    padding: 15px;

    .item {
        display: inline-block;
        border-right: 1px solid #c2c2c2;
        padding: 0px 10px 0px;
        font-size: 16px;

        a {
            text-decoration: none;
            color: blue;

            &:visited {
                color: blue;
            }

            &:hover {
                font-size: 18px;
            }
        }

        &:last-child {
            border-right: none;
        }

        &.active {
           a {
            font-weight: bold;
            text-decoration: underline;    
           }
        }
    }
}

#development_nav {
    .title {
        float: left;
        font-size: 18px;
        border-bottom: none;
    }
    .item {
        display: inline-block;
        border-right: 1px solid #c2c2c2;
        padding: 0px 10px 0px;
        font-size: 16px;

        a {
            text-decoration: none;
            color: blue;
            &:visited {
                color: blue;
            }

            &:hover {
                font-size: 18px;
            }
        }

        &:last-child {
            border-right: none;
        }

        &.active {
           a {
            font-weight: bold;
            text-decoration: underline;    
           }
        }
    }
}

//The main section of the website, common in all pages
#site_main {
    padding: 15px;
}

//The footer section of the website, common in all pages
#site_footer {
    text-align: center;
    font-size: 10px;
    color: #5e5e5e;
}

//Customize sections
.home_panel {
    #tasks_section {
        width: 30%;
    }

    #projects_section {
        width: 40%;
    }

    #users_section {
        width: 30%;
    }
}

.user_panel {
    #profile_section {
        width: 33.33%;
    }

    #tasks_section {
        width: 33.33%;
    }

    #projects_section {
        width: 33.33%;
    }
}

.project_panel {
    #profile_section {
        width: 33.33%;
    }

    #tasks_section {
        width: 33.33%;
    }

    #users_section {
        width: 33.33%;
    }
}

.task_panel {
    #task_details_section {
        width: 67%;
    }

    #users_section {
        width: 33%;
    }
}



//Customize profile section
#profile_section, #task_details_section {
    .section_header {
        padding-bottom: 15px;
    }
    .title {
        font-size: 40px;
        border-bottom: none;
    }

    .name {
        font-size: 34px;
        font-weight: normal;
        color: #5e5e5e;
    }

    .figure {
        border: 1px solid black;
        width: 50%;
    }

    .key, .value {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

#tasks_section, #projects_section, #users_section {
    .info {
        margin-top: 10px;
        font-size: 18px;
    }
}

//Customize tasks list
#tasks_list {
  
}

//Customize projects list
#projects_list {
    .name {
        font-size: 20px;
    }
}

//Customize users list
#users_list {

    .key.user {
        float: none;
        display: block;
        font-size: 16px;
    }

    .value.user {
        float: none;
        display: block;
        font-size: 14px;
    }

    .progress_description {
        margin-top: 10px;
    }
}