<form class="form project" name="project_form">
    <h2 class="title">New Project</h2>
    <p class="field">
        <label class="label" for="name">Name: </label>
        <input class="input name" type="text" ng-model="name">
        <ul class="validation_errors" ng-if="errors.name">
            <li class="item" ng-repeat="x in errors.name">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="description">Description: </label>
        <textarea class="input area" type="text" ng-model="description"></textarea>
        <ul class="validation_errors" ng-if="errors.description">
            <li class="item" ng-repeat="x in errors.description">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="priority">Status: </label>
        <select class="input select" ng-options="status for status in statuses" ng-model="status"></select>
        <ul class="validation_errors" ng-if="errors.priority">
            <li class="item" ng-repeat="x in errors.priority">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="value">Value: </label>
        <input class="input" type="text" ng-model="value">
        <ul class="validation_errors" ng-if="errors.value">
            <li class="item" ng-repeat="x in errors.value">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="effort">Effort: </label>
        <input class="input" type="text" ng-model="effort">
        <ul class="validation_errors" ng-if="errors.effort">
            <li class="item" ng-repeat="x in errors.effort">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="start_date">Start Date: </label>
        <input name="start_date_input" class="input date" type="datetime-local" ng-model="start_date">
        <ul class="validation_errors" ng-if="errors.start_date">
            <li class="item" ng-repeat="x in errors.start_date">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="deadline">Deadline: </label>
        <input name="deadline_input" class="input date" type="datetime-local" ng-model="deadline">
        <ul class="validation_errors" ng-if="errors.deadline">
            <li class="item" ng-repeat="x in errors.deadline">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <input class="button submit" type="submit" value="Update Project" ng-click="put()">
    </p>
    <p class="field"><a class="button cancel" ng-click="back()" href="./projects/{{this_project_id}}">Cancel</a></p>
</form>