<form class="form user" name="user_form">
  <h2 class="title">Edit User</h2>
  <p class="field">
    <label class="label" for="firstname">First name: </label><input class="input" type="text" ng-model="firstname" required ng-disabled="not_admin()">
    <ul class="validation_errors" ng-if="errors.firstname">
      <li class="item" ng-repeat="x in errors.firstname">
        {{x}}
      </li>
    </ul>
  </p>
  <p class="field">
    <label class="label" for="lastname">Last name: </label><input class="input" type="text" ng-model="lastname" required ng-disabled="not_admin()">
    <ul class="validation_errors" ng-if="errors.lastname">
      <li class="item" ng-repeat="x in errors.lastname">
        {{x}}
      </li>
    </ul>
  </p>
  <p class="field">
    <label class="label" for="title">Title: </label><input class="input" type="text" ng-model="title" ng-disabled="not_admin()">
    <ul class="validation_errors" ng-if="errors.title">
      <li class="item" ng-repeat="x in errors.title">
        {{x}}
      </li>
    </ul>
  </p>
  <p class="field">
    <label class="label" for="email">Email: </label><input class="input" type="text" placeholder="Enter a valid email address (optional)"
      ng-model="email" ng-disabled="not_admin()">
    <ul class="validation_errors" ng-if="errors.email">
      <li class="item" ng-repeat="x in errors.email">
        {{x}}
      </li>
    </ul>
  </p>
  <p class="field">
    <label class="label" for="password">Password: </label><input class="input" type="password" ng-model="password">
    <ul class="validation_errors" ng-if="errors.password">
      <li class="item" ng-repeat="x in errors.password">
        {{x}}
      </li>
    </ul>
  </p>
  <p ng-if="loggedin_user.admin"><label class="label" for="admin">Admin: </label><input class="checkbox" type="checkbox" ng-model="checkboxModel.admin"
      ng-true-value="1" ng-false-value="0" ng-disabled="not_admin()"></p>
  <p class="field">
    <input class="button submit" type="submit" value="Submit" ng-click="put()">
  </p>
  <p class="field"><a class="button cancel" ng-click="back()" href="./users/{{this_user_id}}">Cancel</a></p>
</form>