<p ng-if="!loggedin_user" class="message welcome">Welcome to Ryukyu Social</p>
<p ng-if="!loggedin_user" class="message welcome">Please <a href="./login">log in</a></p>

<section ng-if="loggedin_user" class="section projects_two">
    <header class="header">
        <h2 class="title">Dump</h2>
    </header>

    <ul class="preview projects">
        <li class="item {{project.status}}" ng-repeat="project in projects['dump'].data">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-if="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-if="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project)}}" title="pin" ng-click="projectTogglePin(project)">Pin</button>
        </li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section projects_two">
    <header class="header">
        <h2 class="title">Waiting</h2>
    </header>

    <ul class="preview projects">
        <li class="item {{project.status}}" ng-repeat="project in projects['waiting'].data">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-if="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-if="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project)}}" title="pin" ng-click="projectTogglePin(project)">Pin</button>
        </li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section projects_two">
    <header class="header">
        <h2 class="title">Doing</h2>
    </header>

    <ul class="preview projects">
        <li class="item {{project.status}}" ng-repeat="project in projects['doing'].data">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-if="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-if="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project)}}" title="pin" ng-click="projectTogglePin(project)">Pin</button>
        </li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section projects_two">
    <header class="header">
        <h2 class="title">Finished</h2>
    </header>

    <ul class="preview projects">
        <li class="item {{project.status}}" ng-repeat="project in projects['finished'].data">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-if="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-if="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project)}}" title="pin" ng-click="projectTogglePin(project)">Pin</button>
        </li>
    </ul>
</section>