<p ng-show="!loggedin_user" class="message welcome">Welcome to Ryukyu Social</p>
<p ng-show="!loggedin_user" class="message welcome">Please <a href="./login">log in</a></p>

<button class="button by-status" ng-show="showBy == 'person'" ng-click="showByStatus($event)">By Status</button>
<button class="button by-person" ng-show="showBy == 'status'" ng-click="showByPerson($event)">By Person</button>

<button class="button expand all status" ng-show="showBy == 'status' && !expandAllSetting['status']" ng-click="expandAll('status')">Expand All Status</button>
<button class="button collapse all status" ng-show="showBy == 'status' && expandAllSetting['status']" ng-click="collapseAll('status')">Collapse All Status</button>

<button class="button expand all person" ng-show="showBy == 'person' && !expandAllSetting['person']" ng-click="expandAll('person')">Expand All Status</button>
<button class="button collapse all person" ng-show="showBy == 'person' && expandAllSetting['person']" ng-click="collapseAll('person')">Collapse All Status</button>


<section ng-repeat = "status in statuses" ng-show="loggedin_user && showBy=='status'" class="section projects_two status">
    <header class="header">
        <h2 class="title">{{capitalize(status)}}</h2>
        <button class="button collapse" ng-show="expand_projects[status]" ng-click="collapse($event, status)">Collapse</button>
        <button class="button expand" ng-show="!expand_projects[status]" ng-click="expand($event, status)">Expand</button>
        <a class="link" href="./projects/new?status={{status}}">(Add Project)</a>
    </header>

    <ul class="preview projects {{status}}" ng-show="expand_projects[status]">
        <li class="item {{project.status}}" ng-repeat="project in projects[status].data">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-show="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-show="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project,false)}}" title="pin" ng-click="projectTogglePin(project,false)">Pin</button>
        </li>
    </ul>
</section>

<section ng-repeat="user in users" ng-show="loggedin_user && showBy=='person'" class="section projects_two person">
    <header class="header">
        <a class="link_block" href="./users/{{user.id}}">
            <div ng-if="user.photo" class="avatar">
                <img src="{{user.photo.uri}}" />
            </div>
            <div ng-if="!user.photo" class="avatar none">
                {{userInitials(user)}}
            </div>
            <div class="info">
                <h3 class="key user">{{user.title}}</h3>
                <p class="value user">{{user.firstname}} {{user.lastname}}</p>
            </div>
        </a>
        <button class="button collapse" ng-show="expand_projects[user.id]" ng-click="collapse($event, user.id)">Collapse</button>
        <button class="button expand" ng-show="!expand_projects[user.id]" ng-click="expand($event, user.id)">Expand</button>
    </header>

    <ul ng-show="expand_projects[user.id]" class="preview projects user">
        <li class="item {{project.project_status}}" ng-repeat="project in projects[user.id].data">
            <a class="link_block" href="./projects/{{project.project_id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-show="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-show="!project.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project,true)}}" title="pin" ng-click="projectTogglePin(project,true)">Pin</button>
        </li>
    </ul>
</section>