<p ng-if="!loggedin_user" class="message welcome">Welcome to Ryukyu Social</p>
<p ng-if="!loggedin_user" class="message welcome">Please <a href="./login">log in</a></p>

<section ng-if="loggedin_user" class="section projects {{projectsMinMaxSectionClass()}}">
    <header class="header">
        <h2 class="title">Projects List</h2>
        <ul class="tabs">
            <li class="item {{selectedClass(selected_projects_tab,'dump')}}"><button class="tab dump" ng-click="getProjects('dump',projects_limit,1)">dump</button></li><!--
            --><li class="item {{selectedClass(selected_projects_tab,'waiting')}}"><button class="tab waiting" ng-click="getProjects('waiting',projects_limit,1)">waiting</button></li><!--
            --><li class="item {{selectedClass(selected_projects_tab,'doing')}}"><button class="tab doing" ng-click="getProjects('doing',projects_limit,1)">doing</button></li><!--
            --><li class="item {{selectedClass(selected_projects_tab,'finished')}}"><button class="tab finished" ng-click="getProjects('finished',projects_limit,1)">finished</button></li>
        </ul>
        <ul class="settings {{showHideSettingsClass('projects')}} {{selected_projects_tab}}">
            <li class="item">
                <label class="key total">Total Projects: </label>
                <em class="value total">{{projects_count}}</em>
            </li>
            <li class="item">
                <label class="key limit" for="projects_limit">Limit Per Page: </label>
                <select class="input select limit" ng-options="projects_limit for projects_limit in limits" ng-change="getProjects(selected_projects_tab,projects_limit,1)" ng-model="projects_limit"></select>
            </li>
            <li class="item"><a class="link" href="./projects/new?status={{selected_projects_tab}}">Add Project</a></li>
        </ul>
        <button class="button settings {{showHideSettingsClass('projects')}} {{selected_projects_tab}}" ng-click="toggleShowHideSettings('projects')">Show/Hide Settings</button>
    </header>
    <ul class="preview projects">
        <li class="item {{project.status}}" ng-repeat="project in projects">
            <a class="link_block" href="./projects/{{project.id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt ng-show="isViewAdvanced()" class="key users">Users:</dt>
                    <dd ng-show="isViewAdvanced()" class="value_item users  {{cssLast($last)}}" ng-repeat="project_user in project.users">
                        <em class="key role" ng-if="project_user.role">{{project_user.role}}: </em>
                        <em class="key none role" ng-if="!project_user.role">Undefined Role: </em>
                        <p class="value role">{{project_user.firstname}} {{project_user.lastname}}</p>
                    </dd>
                    <dd ng-show="isViewAdvanced()" class="value none users" ng-if="!project.users || project.users.length == 0">No users assigned</dd>
                    <dt ng-show="isViewAdvanced()" class="key start_date">Start Date:</dt>
                    <dd ng-show="isViewAdvanced()" class="value start_date" ng-if="project.start_date">{{prettyDateDeadline(project.start_date)}}</dd>
                    <dd ng-show="isViewAdvanced()" class="value none start_date" ng-if="!project.start_date">Not defined</dd>
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(project.deadline, project.status)}}" ng-if="project.deadline">{{prettyDateDeadline(project.deadline, project.status)}}</dd>
                    <dd class="value none deadline" ng-if="!project.deadline">Not defined</dd>
                    <dt ng-show="isViewAdvanced()" class="key tasks_rank">Top Tasks:</dt>
                    <dd ng-show="isViewAdvanced()" class="value_item tasks_rank {{cssLast($last)}}" ng-repeat="project_task in project.tasks">
                        <span class="key rank">{{$index + 1}}</span>
                        <p class="value rank">{{project_task.name}}</p>
                    </dd>
                    <dd ng-show="isViewAdvanced()" class="value none tasks" ng-if="!project.tasks || project.tasks.length == 0">No tasks</dd>
                </dl>
            </a>
            <button class="button pin {{projectPinnedClass(project)}}" title="pin" ng-click="projectTogglePin(project)">Pin</button>
        </li>
    </ul>
    <p ng-if="!projects || projects.length == 0" class="info none">No projects</p>
    <ul class="pagination" ng-if="projects_page_count_arr && projects_page_count_arr.length > 1">
        <li class="item previous" ng-click="getProjects(selected_projects_tab,projects_limit,projects_current_page-1)"> 
            <a href="#">&laquo;</a>
        </li>
        <li class="item {{currentProjectsPageClass($index+1)}}" ng-repeat="i in projects_page_count_arr track by $index">
            <a href="#" ng-click="getProjects(selected_projects_tab,projects_limit,$index+1)">{{$index+1}}</a>
        </li>
        <li class="item next" ng-click="getProjects(selected_projects_tab,projects_limit,projects_current_page+1)">
            <a href="#">&raquo;</a>
        </li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section tasks {{tasksMinMaxSectionClass()}}">
    <header class="header">
        <h2 class="title">Company Task Board</h2>
        <button ng-click="minMaxTasksSection()" class="button {{tasksMinMaxButtonClass()}}">Minimize/Maximize</button>
        <ul class="tabs">
            <li class="item {{selectedClass(selected_tasks_tab,'dump')}}"><button class="tab dump" ng-click="getTasks('dump',tasks_limit,1)">dump</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'waiting')}}"><button class="tab waiting" ng-click="getTasks('waiting',tasks_limit,1)">waiting</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'doing')}}"><button class="tab doing" ng-click="getTasks('doing',tasks_limit,1)">doing</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'finished')}}"><button class="tab finished" ng-click="getTasks('finished',tasks_limit,1)">finished</button></li>
        </ul>
        <ul class="settings {{showHideSettingsClass('tasks')}} {{selected_tasks_tab}}">
            <li class="item">
                <label class="key total">Total Tasks: </label>
                <em class="value total">{{tasks_count}}</em>
            </li>
            <li class="item">
                <label class="key limit" for="tasks_limit">Limit Per Page: </label>
                <select class="input select limit" ng-options="tasks_limit for tasks_limit in limits" ng-change="getTasks(selected_tasks_tab,tasks_limit,1)" ng-model="tasks_limit"></select>
            </li>
            <li class="item">
                <a class="link" href="./tasks/new?status={{selected_tasks_tab}}">Add Task</a>
            </li>
            <li ng-show="selected_tasks_tab == 'dump'">
                <form class="form task_quick_add">
                    <p class="field">
                        <input class="input name" type="text" ng-model="quick_task_form_data.name" placeholder="Quick Task Name">
                    </p>
                    <input class="button submit" type="submit" value="Quick Add" ng-click="quick_post_task()">
                </form>
            </li>
        </ul>
        <button class="button settings {{showHideSettingsClass('tasks')}} {{selected_tasks_tab}}" ng-click="toggleShowHideSettings('tasks')">Show/Hide Settings</button>
    </header>

    <ul class="preview tasks">
        <li class="item {{task.status}} {{archivedClass(task.archived)}}" ng-repeat="task in tasks">
            <a class="link_block" href="./tasks/{{task.id}}">
                <h3 class="name">{{task.name}}</h3>
                <p ng-show="isViewAdvanced()" class="info description">{{task.description}}</p>
                <dl class="attributes">
                    <dt ng-show="isViewAdvanced()" class="key assigned_to">Assigned to:</dt>
                    <dd ng-show="isViewAdvanced()" class="value_item assigned_to {{cssLast($last)}}" ng-repeat="task_user in task.users">
                        <em class="key user">{{task_user.firstname}} {{task_user.lastname}}: </em>
                        <p class="value user">{{task_user.progress_description}}</p>
                    </dd>
                    <dd ng-show="isViewAdvanced()" class="value none assigned_to" ng-if="!task.users || task.users.length == 0">
                        Need Assignee
                    </dd>
                    <dt ng-show="isViewAdvanced()" class="key priority">Priority:</dt>
                    <dd ng-show="isViewAdvanced()" class="value priority {{checkPriorityImportance(task.priority)}}" ng-if="task.priority">{{getPriorityLabel(task.priority)}}</dd>
                    <dd ng-show="isViewAdvanced()" class="value none priority" ng-if="!task.priority">Not defined</dd>     
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(task.deadline, task.status)}}" ng-if="task.deadline">{{prettyDateDeadline(task.deadline, task.status)}}</dd>
                    <dd class="value none deadline" ng-if="!task.deadline">Not defined</dd>
                    <dt class="key project">Project:</dt>
                    <dd class="value project" ng-if="task.project_name">{{task.project_name}}</dd>
                    <dd class="value none project" ng-if="!task.project_name">Not Assigned</dd>
                </dl>
            </a>
            <button class="button pin {{taskPinnedClass(task)}}" title="pin" ng-click="taskTogglePin(task)">Pin</button>
        </li>
    </ul>
    <p ng-if="!tasks || tasks.length == 0" class="info none">No tasks</p>
    <ul class="pagination" ng-if="tasks_page_count_arr && tasks_page_count_arr.length > 1">
        <li class="item previous" ng-click="getTasks(selected_tasks_tab,tasks_limit,tasks_current_page-1)"> 
            <a href="#">&laquo;</a>
        </li>
        <li class="item {{currentTasksPageClass($index+1)}}" ng-repeat="i in tasks_page_count_arr track by $index">
            <a href="#" ng-click="getTasks(selected_tasks_tab,tasks_limit,$index+1)">{{$index+1}}</a>
        </li>
        <li class="item next" ng-click="getTasks(selected_tasks_tab,tasks_limit,tasks_current_page+1)">
            <a href="#">&raquo;</a>
        </li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section users">
    <header class="header">
        <h2 class="title">Users List</h2>
        <ul class="settings">
            <li ng-if="loggedin_user.admin" class="item"><a class="link" href="./users/new">Add User</a></li>
        </ul>
    </header>
    <ul class="preview users">
        <li ng-if="user.firstname!='Root'" class="item {{tasksCountCSS(user.doing_count)}}" ng-repeat="user in users">
            <a class="link_block" href="./users/{{user.id}}">
                <div ng-if="user.photo" class="avatar">
                    <img src = "{{user.photo.uri}}" />
                </div>
                <div ng-if="!user.photo" class="avatar none">
                    {{userInitials(user)}}
                </div>                
                <div class="info">
                    <h3 class="key user">{{user.title}}</h3>
                    <p class="value user">{{user.firstname}} {{user.lastname}}</p>
                    <p ng-if="user.doing_count==0" class="message free">I'm free! Not doing any tasks</p>
                </div>
                <dl class="attributes task-metrics">
                    <dt class="key tasks-count {{tasksCountCSS(user.tasks_count)}}">Tasks: </dt>
                    <dd class="value tasks-count {{tasksCountCSS(user.tasks_count)}}">{{user.tasks_count}}</dd>
                    <dt class="key doing-count {{tasksCountCSS(user.doing_count)}}">Doing: </dt>
                    <dd class="value doing-count {{tasksCountCSS(user.doing_count)}}">{{user.doing_count}}</dd>
                    <dt class="key finished-count {{tasksCountCSSNice(user.finished_count)}}">Finished: </dt>
                    <dd class="value finished-count {{tasksCountCSSNice(user.finished_count)}}">{{user.finished_count}}</dd>
                </dl>
            </a>
        </li>
    </ul>
</section>