<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="libs/showdown/src/showdown.js"></script>
    <script src="libs/angular-markdown-directive/markdown.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link type="text/css" href="./libs/dtpicker/jquery.simple-dtpicker.css" rel="stylesheet" />
    <!--<link type="text/css" href="./libs/angular-ui-notification/angular-ui-notification.min.css" rel="stylesheet" />-->
  </head>
  <body class="site">
      <header class="header">
        <h1 class="logo"><a href="/">Ryukyu Social</a></h1>
        <p class="message login_status" ng-if="login_status">{{login_status}}</p>
        <p class="message flash {{flash_level}}" ng-if="flash_message">{{flash_message}}</p>
      </header>
      <nav ng-if="loggedin_user" class="navigation">
        <ul class="links">
          <li class="item active"><a class="link" href="./home-panel">Home Panel</a></li>
          <li class="item"><a class="link" href="./users/{{loggedin_user.id}}">My Profile</a></li>
          <li class="item login" ng-if="!loggedin_user"><a class="link" href="./login">Log In</a></li>
          <li class="item logout" ng-if="loggedin_user"><a class="link" href="./logout">Log Out</a></li>
        </ul>
      </nav>

      <main class="main {{panel_class}}" ng-view>

      </main>
      <script src="libs/socket.io/socket.io.js"></script>
	    <script type="text/javascript" src="./libs/dtpicker/jquery.simple-dtpicker.js"></script>
      <script src="libs/moment/moment.min.js"></script>
      <!---<script src="libs/angular-ui-notification/angular-ui-notification.min.js"></script>-->
      <script src="javascripts/config/server_settings.js"></script>
      <script src="javascripts/config/init.js"></script> 
      <script src="javascripts/config/routes.js"></script>
      <script src="javascripts/services/site_notifications.js"></script>
      <script src="javascripts/services/common_functions.js"></script>
      <script src="javascripts/controllers/home_panel_controller.js"></script>
      <script src="javascripts/controllers/user_panel_controller.js"></script>
      <script src="javascripts/controllers/project_panel_controller.js"></script>
      <script src="javascripts/controllers/task_panel_controller.js"></script>
      <script src="javascripts/controllers/new_task_controller.js"></script>
      <script src="javascripts/controllers/edit_task_controller.js"></script>
      <script src="javascripts/controllers/new_project_controller.js"></script>
      <script src="javascripts/controllers/edit_project_permissions_controller.js"></script>
      <script src="javascripts/controllers/edit_project_controller.js"></script>
      <script src="javascripts/controllers/new_user_controller.js"></script>
      <script src="javascripts/controllers/edit_user_controller.js"></script>
      <script src="javascripts/controllers/login_controller.js"></script>
      <script src="javascripts/controllers/logout_controller.js"></script>
      <footer class="footer">
          <small>Ryukyu Interactive Vietnam</small>
      </footer>
  </body>
</html>