<form class="form task" name="task_form">
    <h2 class="title">New Task</h2>
    <p class="field">
        <label class="label" for="name">Name: </label>
        <input class="input name" type="text" ng-model="name">
        <ul class="validation_errors" ng-if="errors.name">
            <li class="item" ng-repeat="x in errors.name">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="description">Description: </label>
        <textarea class="input area" type="text" ng-model="description"></textarea>
        <ul class="validation_errors" ng-if="errors.description">
            <li class="item" ng-repeat="x in errors.description">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field"><label class="label" for="priority">Priority: </label>
        <select class="input select" ng-options="priority.level as priority.label for priority in priorities" ng-model="priority_level"></select>
        <ul class="validation_errors" ng-if="errors.description">
            <li class="item" ng-repeat="x in errors.description">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="priority">Status: </label>
        <select class="input select" ng-options="status for status in statuses" ng-model="status"></select>
        <ul class="validation_errors" ng-if="errors.priority">
            <li class="item" ng-repeat="x in errors.priority">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="deadline_date">Deadline Date: </label>
        <input id="date" name="deadline_date_input" class="input date" type="date" ng-model="deadline_date">
        <ul class="validation_errors" ng-if="errors.deadline">
            <li class="item" ng-repeat="x in errors.deadline">
                {{x}}
            </li>
        </ul>
    </p>
    <p class="field">
        <label class="label" for="deadline_time">Deadline Time: </label>
        <input id="time" name="deadline_date_input" class="input time" type="time" ng-model="deadline_time">
    </p>
    <p class="field"><label class="label" for="project_id">Project: </label>
        <select class="input select" ng-options="project.id as project.name for project in projects" ng-model="project_id" ng-disabled="project_defined()"></select>
    </p>
    <p class="field">
        <input class="button submit" type="submit" value="Add Task" ng-click="post()">
    </p>
    <p class="field"><a class="button cancel" ng-click="back()" href="./">Cancel</a></p>
</form>