<section class="section details">
    <header class="header">
        <h2 class="title">{{this_project.name}}</h2>
    </header>
    <figure ng-show="this_project_photo.uri" class="figure">
        <div class="image">
            <div ng-show="loggedin_user.admin || this_user_write_access > 0" 
                ngf-select ngf-drop ng-model="files" 
                ngf-pattern="'image/*'" ngf-accept="'image/*'" 
                ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="camera" 
                ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*'}"  
                ngf-resize="resizeObj" ngf-fix-orientation="orientation" 
                ngf-max-size="20MB" ngf-min-height="100"
                ngf-resize="{width: 400, height: 400}"
                ngf-drop-available="dropAvailable">
                <img ngf-thumbnail="this_project_photo.uri" />
            </div>
            <button class="button delete submit" ng-if="loggedin_user.admin || this_user_write_access > 0" ng-click="delete_photo()">Delete</button>
            <img ng-if="this_user_write_access == 0" ngf-thumbnail="this_project_photo.uri" />
        </div>
        <figcaption class="caption">
            {{this_project_photo.caption}}
        </figcaption>
        <form class="form caption" name="caption_form" style="display: none;">
            <p class="field">
                <input class="input caption" type="text" ng-model="this_project_photo.caption"></input>
            </p>
            <div class="buttons">
                <input class="button submit" type="submit" value="Update Caption" ng-click="update_caption()">
                <a class="button cancel" ng-click="cancel_caption()">Cancel</a>
            </div>
        </form>
        <button class="button edit caption" ng-click="show_caption_form()" ng-if="loggedin_user.admin || this_user_write_access > 0">Edit caption</button>
    </figure>
    <ul ng-if="errors.photo">
        <li ng-repeat="err in errors.photo">
            {{err}}
        </li>
    </ul>
    <br/><br/>
    <dl class="attributes">
        <dt class="key status">Status:</dt>
        <dd class="value status {{this_project.status}}">{{this_project.status}}</dd>
        <dt class="key start_date">Start Date:</dt>
        <dd class="value start_date" ng-if="this_project.start_date">{{prettyDateDeadline(this_project.start_date)}}</dd>            
        <dd class="value none start_date" ng-if="!this_project.start_date">Not defined</dd>         
        <dt class="key deadline">Deadline:</dt>
        <dd class="value deadline {{checkDateImportance(this_project.deadline, this_project.status)}}" ng-if="this_project.deadline">{{prettyDateDeadline(this_project.deadline, this_project.status)}}</dd>            
        <dd class="value none deadline" ng-if="!this_project.deadline">Not defined</dd>           
        <dt class="key effort">Effort:</dt>
        <dd class="value effort" ng-if="this_project.effort">{{this_project.effort}}</dd>
        <dd class="value none effort" ng-if="!this_project.effort">Not defined</dd>        
        <dt class="key project_value">Value:</dt>
        <dd class="value project_value" ng-if="this_project.value">{{this_project.value}}</dd>            
        <dd class="value none project_value" ng-if="!this_project.value">Not defined</dd> 
        <dt class="key updated_at">Updated at:</dt>
        <dd class="value updated_at">{{prettyDate(this_project.updated_at)}}</dd>    
        <dt class="key description">Description:</dt>
        <dd class="value description"><pre ng-bind-html="this_project.description | linky"></pre><dd>
    </dl>
    <ul class="links">
        <li class="item back" ng-if="!this_user_id"><a class="link" ng-click="back()">Go Back</a></li>
        <li class="item back" ng-if="this_user_id"><a class="link" href="./users/{{this_user_id}}">Go Back to User</a></li>
        <li class="item edit" ng-if="loggedin_user.admin || this_user_write_access > 0"><a class="link" href="./projects/{{this_project.id}}/edit">Edit Project</a></li>
        <li class="item delete" ng-if="loggedin_user.admin || this_user_write_access > 1"><a class="link" ng-click="remove_project()">Delete Project</a></li>
    </ul>
</section>

<section class="section tasks">
    <header class="header">
        <h2 class="title">Project Task Board</h2>
        <ul class="tabs">
            <li class="item {{selectedClass(selected_tasks_tab,'dump')}}"><button class="tab dump" ng-click="getTasks('dump',selected_user_id_filter,tasks_limit,1)">dump</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'waiting')}}"><button class="tab waiting" ng-click="getTasks('waiting',selected_user_id_filter,tasks_limit,1)">waiting</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'doing')}}"><button class="tab doing" ng-click="getTasks('doing',selected_user_id_filter,tasks_limit,1)">doing</button></li><!--
            --><li class="item {{selectedClass(selected_tasks_tab,'finished')}}"><button class="tab finished" ng-click="getTasks('finished',selected_user_id_filter,tasks_limit,1)">finished</button></li>
        </ul>
        <ul class="settings {{showHideSettingsClass('tasks')}}  {{selected_tasks_tab}}">
            <li class="item">
                <label class="key user">Filter by user: </label>
                <select class="input select user" ng-options="user.user_id as getFullName(user) for user in users_filter" ng-change="getTasks(selected_tasks_tab,selected_user_id_filter,tasks_limit,1)" ng-model="selected_user_id_filter"></select>
            </li>
            <li class="item">
                <label class="key total">Total Tasks: </label>
                <em class="value total">{{tasks_count}}</em>
            </li>
            <li class="item">
                <label class="key limit" for="tasks_limit">Limit Per Page: </label>
                <select class="input select limit" ng-options="tasks_limit for tasks_limit in limits" ng-change="getTasks(selected_tasks_tab,selected_user_id_filter,tasks_limit,1)" ng-model="tasks_limit"></select>
            </li>
            <li class="item">
                <a class="link" href="./projects/{{this_project_id}}/tasks/new?status={{selected_tasks_tab}}">Add Task</a>
            </li>
            <li ng-show="selected_tasks_tab == 'dump'">
                <form class="form task_quick_add">
                    <p class="field">
                        <input class="input name" type="text" ng-model="quick_task_form_data.name" placeholder="Quick Task Name">
                    </p>
                    <input class="button submit" type="submit" value="Quick Add" ng-click="quick_post_task()">
                </form>
            </li>
        </ul>
        <button class="button settings {{showHideSettingsClass('tasks')}} {{selected_tasks_tab}}" ng-click="toggleShowHideSettings('tasks')">Show/Hide Settings</button>
    </header>
    <ul class="preview tasks">
        <li class="item {{task.status}} {{archivedClass(task.archived)}}" ng-repeat="task in tasks">
            <a class="link_block" href="./projects/{{this_project.id}}/tasks/{{getTaskID(task)}}">
                <h3 class="name">{{task.name}}</h3>
                <p class="info description">{{task.description}}</p>
                <dl class="attributes">
                    <dt class="key assigned_to">Assigned to:</dt>
                    <dd class="value_item assigned_to {{cssLast($last)}}" ng-repeat="task_user in task.users">
                        <em class="key user">{{task_user.firstname}} {{task_user.lastname}}: </em>
                        <p class="value user">{{task_user.progress_description}}</p>
                    </dd>
                    <dd class="value none assigned_to" ng-if="!task.users || task.users.length == 0">
                        Need Assignee
                    </dd>
                    <dt class="key priority">Priority:</dt>
                    <dd class="value priority {{checkPriorityImportance(task.priority)}}" ng-if="task.priority">{{getPriorityLabel(task.priority)}}</dd>
                    <dd class="value none priority" ng-if="!task.priority">Not defined</dd>
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline {{checkDateImportance(task.deadline, task.status)}}" ng-if="task.deadline">{{prettyDateDeadline(task.deadline, task.status)}}</dd>
                    <dd class="value none deadline" ng-if="!task.deadline">Not defined</dd>
                </dl>
            </a>
            <button class="button pin {{taskPinnedClass(task)}}" title="pin" ng-click="taskTogglePin(task)">Pin</button>
        </li>
    </ul>
    <p ng-if="!tasks || tasks.length == 0" class="info none">No tasks</p>
    <ul class="pagination" ng-if="tasks_page_count_arr && tasks_page_count_arr.length > 1">
        <li class="item previous" ng-click="getTasks(selected_tasks_tab,selected_user_id_filter,tasks_limit,tasks_current_page-1)"> 
            <a href="#">&laquo;</a>
        </li>
        <li class="item {{currentTasksPageClass($index+1)}}" ng-repeat="i in tasks_page_count_arr track by $index">
            <a href="#" ng-click="getTasks(selected_tasks_tab,selected_user_id_filter,tasks_limit,$index+1)">{{$index+1}}</a>
        </li>
        <li class="item next" ng-click="getTasks(selected_tasks_tab,selected_user_id_filter,tasks_limit,tasks_current_page+1)">
            <a href="#">&raquo;</a>
        </li>
    </ul>
</section>

<section class="section users">
    <header class="header">
        <h2 class="title">Users Assigned to Project</h2>
    </header>
    <ul class="preview users">
        <li class="item" ng-repeat="assigned_user in assigned_users">
            <a class="link_block" href="./projects/{{this_project.id}}/users/{{assigned_user.user_id}}">
                <h3 class="key user" ng-if="assigned_user.role">{{assigned_user.role}}</h3>
                <h3 class="key none user" ng-if="!assigned_user.role">Undefined Role</h2>
                <p class="value user">{{assigned_user.firstname}} {{assigned_user.lastname}}</p>
            </a>
            <a class="button permissions" href="./projects/{{this_project.id}}/users/{{assigned_user.user_id}}/edit" 
               ng-if="loggedin_user.admin || this_user_write_access > 1" title="Permissions">Permissions</a>
            <button class="button delete" ng-if="loggedin_user.admin || loggedin_user.id == assigned_user.user_id || this_user_write_access > 1"
                ng-click="remove_user(assigned_user)" title="Remove User"
                >Remove User</button>
        </li>
    </ul>

    <form class="form assign_user">
        <p class="title">Assign User to Project: </p>
        <p class="field"><label class="label" for="selected_user_id">User Name: </label>
            <select class="input select" ng-options="user.id as getFullName(user) for user in users track by user.id" ng-model="selected_user_id"></select>
        </p>        
        <p class="field">
            <input class="button submit" type="submit" value="Assign User" ng-click="assign_user()">
        </p>        
    </form>
</section>