<section id="profile_section" class="section">
    <header class="section_header">
        <h2 class="title">{{this_project.name}}</h2>
    </header>
    <figure class="figure">
        <p class="image">
            <img src = "{{this_project_photo.uri}}" />
        </p>
        <figcaption class="caption">
            {{this_project_photo.caption}}
        </figcaption>
    </figure>
    <dl class="attributes">
        <dt class="key status">Status:</dt>
        <dd class="value status">{{this_project.status}}</dd>
        <dt class="key start_date">Start Date:</dt>
        <dd class="value start_date" ng-if="this_project.start_date">{{this_project.start_date}}</dd>            
        <dd class="value value--none start_date" ng-if="!this_project.start_date">Not defined</dd>         
        <dt class="key deadline">Deadline:</dt>
        <dd class="value deadline" ng-if="this_project.deadline">{{this_project.deadline}}</dd>            
        <dd class="value value--none deadline" ng-if="!this_project.deadline">Not defined</dd>           
        <dt class="key effort">Effort:</dt>
        <dd class="value effort" ng-if="this_project.effort">{{this_project.effort}}</dd>
        <dd class="value value--none effort" ng-if="!this_project.effort">Not defined</dd>        
        <dt class="key project_value">Value:</dt>
        <dd class="value project_value" ng-if="this_project.value">{{this_project.value}}</dd>            
        <dd class="value value--none project_value" ng-if="!this_project.value">Not defined</dd> 
        <dt class="key description">Description:</dt>
        <dd class="value description">{{this_project.description}}</dd>
    </dl>
    <ul class="links">
        <li class="item edit"><a href="./projects/{{this_project.id}}/edit">Edit Project</a></li>
        <li class="item delete"><a ng-click="remove_project()">Delete Project</a></li>
    </ul>
</section>

<section id="tasks_section" class="section">
    <header class="section_header">
        <h2 class="title">Project Task Board</h2>
    </header>
    <ul id="tasks_list" class="section_information">
        <li class="item" ng-repeat="task in tasks">
            <a href="./task-panel/{{task.id}}">
                <h3 class="name">{{task.name}}</h3>
                <p class="info">
                    {{task.description}}
                </p>
                <dl class="attributes">
                    <dt class="key assigned_to">Assigned to:</dt>
                    <dd class="value_item assigned_to {{cssLast($last)}}" ng-repeat="task_user in task.users">
                        <em class="key user">{{task_user.firstname}} {{task_user.lastname}}: </em>
                        <p class="value user">{{task_user.progress_description}}</p>
                    </dd>
                    <dd class="value value--none assigned_to" ng-if="!task.users || task.users.length == 0">
                        Need Assignee
                    </dd>
                    <dt class="key priority">Priority:</dt>
                    <dd class="value priority" ng-if="task.priority">{{getPriorityLabel(task.priority)}}</dd>
                    <dd class="value value--none priority" ng-if="!task.priority">Not defined</dd>
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline" ng-if="task.deadline">{{task.deadline}}</dd>
                    <dd class="value value--none deadline" ng-if="!task.deadline">Not defined</dd>
                </dl>
            </a>
        </li>
    </ul>
</section>

<section id="users_section" class="section">
    <header class="section_header">
        <h2 class="title">Users Assigned to Project</h2>
    </header>
    <ul id="users_list" class="section_information">
        <li class="item" ng-repeat="assigned_user in assigned_users">
            <a href="./user-panel/{{assigned_user.user_id}}">
                <h3 class="key user" ng-if="assigned_user.role">{{assigned_user.role}}</h3>
                <h3 class="key key--none user" ng-if="!assigned_user.role">Undefined Role</h2>
                <p class="value user">{{assigned_user.firstname}} {{assigned_user.lastname}}</p>
            </a>
            <a class="button edit" href="./projects/{{this_project.id}}/users/{{assigned_user.user_id}}/edit" 
               ng-if="loggedin_user.admin || has_write_access()">Permissions</a>
            <button class="button delete" ng-if="loggedin_user.admin || loggedin_user.id == assigned_user.user_id || has_write_access()"
                ng-click="remove_user(assigned_user)" title="Remove User"
                >Remove User</button>
        </li>
    </ul>

    <form class="form assign_user">
        <p class="title">Assign User to Project: </p>
        <p class="field"><label class="label" for="selected_user_id">User Name: </label>
            <select class="input select" ng-options="user.id as getFullName(user) for user in users track by user.id" ng-model="selected_user_id"></select>
        </p>        
        <p class="field">
            <input class="button" type="submit" value="Assign User" ng-click="assign_user()">
        </p>        
    </form>
</section>