<section class="section details">
    <header class="header">
        <h2 class="title">{{this_project.name}}</h2>
    </header>
    <figure ng-show="this_project_photo.uri" class="figure">
        <div class="image profile">
            <div ng-show="loggedin_user.admin || this_user_write_access > 0" 
                ngf-select ngf-drop ng-model="files" 
                ngf-pattern="'image/*'" ngf-accept="'image/*'" 
                ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="camera" 
                ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', pattern:'image/*'}"  
                ngf-resize="resizeObj" ngf-fix-orientation="orientation" 
                ngf-max-size="20MB"
                ngf-resize="{width: 400, height: 400}"
                ngf-drop-available="dropAvailable">
                <img ngf-thumbnail="this_project_photo.uri" />
                <div class="add-photo"></div>
            </div>
            <button class="button delete submit" ng-if="loggedin_user.admin || this_user_write_access > 0" ng-click="delete_photo()">Delete</button>
            <img ng-if="!loggedin_user.admin && this_user_write_access == 0" ngf-thumbnail="this_project_photo.uri" />
        </div>
        <figcaption class="caption">
            {{this_project_photo.caption}}
        </figcaption>
        <form class="form caption" name="caption_form" style="display: none;">
            <p class="field">
                <input class="input caption" type="text" ng-model="this_project_photo.caption"></input>
            </p>
            <div class="buttons">
                <input class="button submit" type="submit" value="Update Caption" ng-click="update_caption()">
                <a class="button cancel" ng-click="cancel_caption()">Cancel</a>
            </div>
        </form>
        <button class="button edit caption" ng-click="show_caption_form()" ng-if="loggedin_user.admin || this_user_write_access > 0">Edit caption</button>
    </figure>
    <ul ng-if="errors.photo">
        <li ng-repeat="err in errors.photo">
            {{err}}
        </li>
    </ul>
    <br/><br/>
    <dl class="attributes">
        <dt class="key status">Status:</dt>
        <dd class="value status {{this_project.status}}">{{this_project.status}}</dd>
        <dt class="key start_date">Start Date:</dt>
        <dd class="value start_date" ng-if="this_project.start_date">{{prettyDateDeadline(this_project.start_date)}}</dd>            
        <dd class="value none start_date" ng-if="!this_project.start_date">Not defined</dd>         
        <dt class="key deadline">Deadline:</dt>
        <dd class="value deadline {{checkDateImportance(this_project.deadline, this_project.status)}}" ng-if="this_project.deadline">{{prettyDateDeadline(this_project.deadline, this_project.status)}}</dd>            
        <dd class="value none deadline" ng-if="!this_project.deadline">Not defined</dd>           
        <dt class="key effort">Effort:</dt>
        <dd class="value effort" ng-if="this_project.effort">{{this_project.effort}}</dd>
        <dd class="value none effort" ng-if="!this_project.effort">Not defined</dd>        
        <dt class="key project_value">Value:</dt>
        <dd class="value project_value" ng-if="this_project.value">{{this_project.value}}</dd>            
        <dd class="value none project_value" ng-if="!this_project.value">Not defined</dd> 
        <dt class="key updated_at">Updated at:</dt>
        <dd class="value updated_at">{{prettyDate(this_project.updated_at)}}</dd>    
        <dt class="key description">Description:</dt>
        <dd class="value description"><pre ng-bind-html="this_project.description | linky"></pre><dd>
    </dl>
    <div class="code_checker">
        <h3 class="title">Code Checker</h3>
        <button ng-show="!this_code_checker_project" class="button add_code_checker" ng-click="add_code_checker()">Add Code Checker Service</button>
        <h4 class="title check_settings">SASS Check Settings</h4>
        <dl class="attributes metrics code_checker_project" ng-show="this_code_checker_project && !edit_code_checker_form">
            <dt class="key source_server">Github Code URL:</dt>
            <dd ng-show="this_code_checker_project.source_code_server" class="value source_server">{{this_code_checker_project.source_code_server}}</dd>
            <dd ng-show="!this_code_checker_project.source_code_server" class="value source_server none">Not defined</dd>
            <dt class="key source_username">Github Username:</dt>
            <dd ng-show="this_code_checker_project.source_username" class="value source_username">{{this_code_checker_project.source_username}}</dd>
            <dd ng-show="!this_code_checker_project.source_username" class="value source_username none">Not defined</dd>
            <dt class="key urls_to_check">SASS folders to Check:</dt>
            <dd ng-show="!this_code_checker_project.sass_folders" class="value sass_folders none">None defined</dd>
            <dd ng-repeat="sass_folder in this_code_checker_project.sass_folders" class="value_item sass_folders">
                <span>{{sass_folder.relative_path}}</span><button class="button delete" ng-click="remove_sass_folder(sass_folder.id)">Delete</button>
            </dd>
            <dt class="key add_sass_folder">Add SASS Folder to Check</dt>
            <dd class="value add_sass_folder">
                <form class="form sass_folders" name="sass_folders_form">
                    <p class="field">
                        <input class="input sass_folder_add" type="text" ng-model="sass_folder_to_add"></input>
                    </p>
                    <input class="button submit" type="submit" value="Add" ng-click="add_sass_folder(sass_folder_to_add)">
                </form>
            </dd>
        </dl>
        <h4 class="title check_settings">HTML Check Settings</h4>
        <dl class="attributes metrics code_checker_project" ng-show="this_code_checker_project && !edit_code_checker_form">
            <dt class="key dev_server">Dev Server URL:</dt>
            <dd ng-show="this_code_checker_project.development_server" class="value dev_server">{{this_code_checker_project.development_server}}</dd>
            <dd ng-show="!this_code_checker_project.development_server" class="value dev_server none">Not defined</dd>
            <dt class="key dev_username">Dev Server Username:</dt>
            <dd ng-show="this_code_checker_project.dev_server_username" class="value dev_username">{{this_code_checker_project.dev_server_username}}</dd>
            <dd ng-show="!this_code_checker_project.dev_server_username" class="value dev_username none">Not defined</dd>
            <dt class="key dev_password">Dev Server Password:</dt>
            <dd ng-show="this_code_checker_project.dev_server_password" class="value dev_password">{{this_code_checker_project.dev_server_password}}</dd>
            <dd ng-show="!this_code_checker_project.dev_server_password" class="value dev_password none">Not defined</dd>
            <dt class="key urls_to_check">URL's to Check:</dt>
            <dd ng-show="!this_code_checker_project.urls_to_check" class="value urls_to_check none">None defined</dd>
            <dd ng-repeat="url in this_code_checker_project.urls_to_check" class="value_item urls_to_check">
                <span>{{url.url}}</span><button class="button delete" ng-click="remove_url_to_check(url.id)">Delete</button>
            </dd>
            <button ng-show="this_code_checker_project" class="button edit metrics" ng-click="show_edit_code_checker_form()" ng-show="loggedin_user.admin || this_user_write_access > 0">Edit Metrics</button>
            <dt class="key add_url">Add URL to Check</dt>
            <dd class="value add_url">
                <form class="form urls_to_check" name="urls_to_check_form">
                    <p class="field">
                        <input class="input url_to_check_add" type="text" ng-model="url_to_add"></input>
                    </p>
                    <input class="button submit" type="submit" value="Add" ng-click="add_url_to_check(url_to_add)">
                </form>
            </dd>
        </dl>

        <form ng-show="this_code_checker_project && edit_code_checker_form" class="form metrics" name="metrics_form">
            <p class="field">
                <label class="label">Github Code URL</label>
                <input class="input name" type="text" ng-model="this_code_checker_project.source_code_server"></input>
            </p>
            <p class="field">
                <label class="label">Github Username</label>
                <input class="input name" type="text" ng-model="this_code_checker_project.source_username"></input>
            </p>
            <p class="field">
                <label class="label">Github Password</label>
                <input class="input name" type="password" ng-model="this_code_checker_project.source_password"></input>
            </p>
            <p class="field">
                <label class="label">Dev Server URL</label>
                <input class="input name" type="text" ng-model="this_code_checker_project.development_server"></input>
            </p>
            <p class="field">
                <label class="label">Dev Server Username</label>
                <input class="input name" type="text" ng-model="this_code_checker_project.dev_server_username"></input>
            </p>
            <p class="field">
                <label class="label">Dev Server Password</label>
                <input class="input name" type="text" ng-model="this_code_checker_project.dev_server_password"></input>
            </p>
            <div class="buttons">
                <input class="button submit" type="submit" value="Update Metrics" ng-click="update_code_checker()">
                <a class="button cancel" ng-click="cancel_update_code_checker()">Cancel</a>
            </div>
        </form>

        <button ng-show="this_code_checker_project && !code_checker_running" class="button run" ng-click="run_code_checker()">Run Code Checker</button>
        <p ng-show="code_checker_running" class="status run">Running...</p>
        <dl ng-show="this_code_checker_project" class="attributes metrics results">
            <dt class="key code_checker_status">Results Status: </dt>
            <dd class="value code_checker_status">{{this_code_checker_project.last_check_status}}</dd>
            <dt class="key code_checker_message">Results Message: </dd>
            <dd class="value code_checker_message">{{this_code_checker_project.last_check_message}}</dd>
            <dt class="key last_run">Last Checked: </dt>
            <dd class="value last_run">{{this_code_checker_project.last_checked}}</dd>
            <dt class="key errors_count">Errors Count:</dt>
            <dd class="value errors_count">{{this_code_checker_project.total_error_count}}</dd>
            <dt class="key warnings_count">Warnings Count:</dt>
            <dd class="value warnings_count">{{this_code_checker_project.total_warning_count}}</dd>
        </dl>
        <button ng-show="this_code_checker_project" class="button remove" ng-click="remove_code_checker()">Remove Code Checker Service</button>
    </div>

    <div class="attributes extra">
        <div ngf-select ngf-drop ng-model="uploadFiles" class="dd-area"
            ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="camera" 
            ngf-drag-over-class="{accept:'dragover', reject:'dragover-err'}"  
            ngf-resize="resizeObj" ngf-multiple="true" ngf-keep="true" 
            ngf-max-size="50MB" ngf-fix-orientation="orientation" 
            ngf-drop-available="dropAvailable">
            <div class="dd-content">Select File or Drop File</div>
            <div class="add-photo"></div>
        </div>
        <div class="line-buttons">
            <input class="button submit" type="submit" value="Upload all" ng-click="uploadAllFiles()">
            <input class="button submit" type="submit" value="Delete all" ng-click="deleteAllFiles()">
        </div>
        <ul class="list-files file-before-upload" ng-show="uploadFiles.length > 0">
            <li class="list-files-item repeated-item" ng-repeat="file in uploadFiles">
                {{file.name}} 
                <button class="button delete submit" ng-click="delete_upload_file($index)">Delete</button>
                <button class="button upload submit" ng-click="upload_single_file($index, file)">Upload</button>
                <div class="progress-delay" ng-show="file.progress >= 0">
                    <div class="progress-bar" ng-style="{width : ( file.progress + '%' ) }"></div>
                </div>
            </li>
        </ul>
        <ul class="list-files file-upload" ng-show="projectFiles.length > 0">
            <li class="list-files-item repeated-item" ng-repeat="file in projectFiles">
                <img class="icon-file" ng-src="{{getFileIcon(file.file_type)}}" />
                <a href="{{getFile(file.file_uri)}}" target="_self">{{file.name}}</a> 
                <button class="button delete submit" ng-click="delete_file($index, file.id, file.name)" ng-show="loggedin_user.admin || this_user_write_access > 0">Delete</button>
            </li>
        </ul>
    </div>
    <ul class="links">
        <li class="item back" ng-if="!this_user_id"><a class="link" ng-click="back()">Go Back</a></li>
        <li class="item back" ng-if="this_user_id"><a class="link" href="./users/{{this_user_id}}">Go Back to User</a></li>
        <li class="item edit" ng-if="loggedin_user.admin || this_user_write_access > 0"><a class="link" href="./projects/{{this_project.id}}/edit">Edit Project</a></li>
        <li class="item delete" ng-if="loggedin_user.admin || this_user_write_access > 1"><a class="link" ng-click="remove_project()">Delete Project</a></li>
    </ul>
</section>

<section ng-if="loggedin_user" class="section tasks {{isMaximizedClass('tasks')}}">
    <header class="header">
        <h2 class="title">Tasks List</h2>
        <button ng-show="!isViewAdvanced('tasks')" class="button view_advanced" ng-click="setViewAdvanced('tasks',true)">View Advanced</button>
        <button ng-show="isViewAdvanced('tasks')" class="button view_simple" ng-click="setViewAdvanced('tasks', false)">View Simple</button>
        <button class="button layered" ng-click="setLayout('tasks','layered')">Layered</button>
        <button class="button vertical" ng-click="setLayout('tasks','vertical')">Vertical</button>
        <button ng-show="!isViewAdvanced('tasks')" class="button view_advanced" ng-click="setViewAdvanced('tasks',true)">View Advanced</button>
        <button ng-show="isViewAdvanced('tasks')" class="button view_simple" ng-click="setViewAdvanced('tasks', false)">View Simple</button>
        <button ng-show="isMaximized('tasks')" class="button horizontal" ng-click="setLayout('tasks','horizontal')">Horizontal</button>
    </header>

    <section class="sub-section {{status}} tasks {{getLayoutCSS('tasks')}} {{getTabSelectedCSS('tasks',status)}}" ng-repeat="status in statuses">
        <header class="header">
            <h3 class="tab {{status}} {{getTabSelectedCSS('tasks',status)}}" ng-click="setTabSelected('tasks',status)">{{status}}</h3>
            <ul ng-show="isShowingSettings('tasks',status)" class="settings {{status}}">
                <li class="item">
                        <label class="key user">Filter by user: </label>
                        <select class="input select user" ng-options="user.user_id as getFullName(user) for user in users_filter" ng-change="getTasks(status,project_panel_tasks_params[status]['user_id_filter'],getTasksParam(status,'limit'),getTasksParam(status,'page'))" ng-model="project_panel_tasks_params[status]['user_id_filter']"></select>
                </li>
                <li class="item">
                    <label class="key total">Total Tasks: </label>
                    <em class="value total">{{getTasksParam(status,'count')}}</em>
                </li>
                <li class="item">
                    <label class="key limit" for="tasks_limit">Limit Per Page: </label>
                    <select class="input select limit" ng-options="limit for limit in limits" ng-change="getTasks(status,getTasksParam(status,'user_id_filter'),project_panel_tasks_params[status]['limit'],1)" ng-model="project_panel_tasks_params[status]['limit']"></select>
                </li>
                <li ng-show="status == 'dump'">
                    <form class="form task_quick_add">
                        <p class="field">
                            <input class="input name" type="text" ng-model="quick_task_form_data.name" placeholder="Quick Task Name">
                        </p>
                        <input class="button submit" type="submit" value="Quick Add" ng-click="quick_post_task()">
                    </form>
                </li>
                <a class="link" href="./projects/{{this_project_id}}/tasks/new?status={{status}}">Add Task</a>
            </ul>
            <button class="button settings {{status}}" ng-click="toggleShowSettings('tasks', status)">Show/Hide Settings</button>
        </header>

        <ul class="preview tasks">
            <li class="item {{task.status}}" ng-repeat="task in tasks[status]">
                <a class="link_block" href="./projects/{{this_project.id}}/tasks/{{getTaskID(task)}}">
                    <h3 class="name">{{task.name}}</h3>
                    <p ng-show="isViewAdvanced('tasks')" class="info description">{{task.description}}</p>
                    <dl class="attributes">
                        <dt ng-show="isViewAdvanced('tasks')" class="key assigned_to">Assigned to:</dt>
                        <dd ng-show="isViewAdvanced('tasks')" class="value_item assigned_to {{cssLast($last)}}" ng-repeat="task_user in task.users">
                            <em class="key user">{{task_user.firstname}} {{task_user.lastname}}: </em>
                            <p class="value user">{{task_user.progress_description}}</p>
                        </dd>
                        <dd ng-show="isViewAdvanced('tasks')" class="value none assigned_to" ng-if="!task.users || task.users.length == 0">
                            Need Assignee
                        </dd>
                        <dt ng-show="isViewAdvanced('tasks')" class="key priority">Priority:</dt>
                        <dd ng-show="isViewAdvanced('tasks')" class="value priority {{checkPriorityImportance(task.priority)}}" ng-if="task.priority">{{getPriorityLabel(task.priority)}}</dd>
                        <dd ng-show="isViewAdvanced('tasks')" class="value none priority" ng-if="!task.priority">Not defined</dd>
                        <dt class="key deadline">Deadline:</dt>
                        <dd class="value deadline {{checkDateImportance(task.deadline, task.status)}}" ng-if="task.deadline">{{prettyDateDeadline(task.deadline, task.status)}}</dd>
                        <dd class="value none deadline" ng-if="!task.deadline">Not defined</dd>
                        <dt class="key project">Project:</dt>
                        <dd class="value project" ng-if="task.project_name">{{task.project_name}}</dd>
                        <dd class="value none project" ng-if="!task.project_name">Not Assigned</dd>
                    </dl>
                </a>
                <button class="button pin {{taskPinnedClass(status,task)}}" title="pin" ng-click="taskTogglePin(status,task)">Pin</button>
            </li>
        </ul>
        <p ng-if="!tasks[status] || tasks[status].length == 0" class="info none">No tasks</p>
        <ul class="pagination" ng-if="tasks_page_count_arr[status] && tasks_page_count_arr[status].length > 1">
            <li class="item previous" ng-click="getTasks(status,getTasksParam(status,'user_id_filter'),getTasksParam(status,'limit'),getTasksParam(status,'page')-1)">
                <a href="#">&laquo;</a>
            </li>
            <li class="item {{currentTasksPageClass(status,$index+1)}}" ng-repeat="i in tasks_page_count_arr[status] track by $index">
                <a href="#" ng-click="getTasks(status,getTasksParam(status,'user_id_filter'),getTasksParam(status,'limit'),$index+1)">{{$index+1}}</a>
            </li>
            <li class="item next" ng-click="getTasks(status,getTasksParam(status,'user_id_filter'),getTasksParam(status,'limit'),getTasksParam(status,'page')+1)">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </section>
</section>

<section class="section users">
    <header class="header">
        <h2 class="title">Users Assigned to Project</h2>
    </header>
    <ul class="preview users">
        <li class="item" ng-repeat="assigned_user in assigned_users">
            <a class="link_block" href="./projects/{{this_project.id}}/users/{{assigned_user.user_id}}">
                <h3 class="key user" ng-if="assigned_user.role">{{assigned_user.role}}</h3>
                <h3 class="key none user" ng-if="!assigned_user.role">Undefined Role</h2>
                <p class="value user">{{assigned_user.firstname}} {{assigned_user.lastname}}</p>
            </a>
            <a class="button permissions" href="./projects/{{this_project.id}}/users/{{assigned_user.user_id}}/edit" 
               ng-if="loggedin_user.admin || this_user_write_access > 1" title="Permissions">Permissions</a>
            <button class="button delete" ng-if="loggedin_user.admin || loggedin_user.id == assigned_user.user_id || this_user_write_access > 1"
                ng-click="remove_user(assigned_user)" title="Remove User"
                >Remove User</button>
        </li>
    </ul>

    <form class="form assign_user">
        <p class="title">Assign User to Project: </p>
        <p class="field"><label class="label" for="selected_user_id">User Name: </label>
            <select class="input select" ng-options="user.id as getFullName(user) for user in users track by user.id" ng-model="selected_user_id"></select>
        </p>        
        <p class="field">
            <input class="button submit" type="submit" value="Assign User" ng-click="assign_user()">
        </p>        
    </form>
</section>

<section ng-show="this_code_checker_project" class="section code_checker_results {{isMaximizedClass('code_checker_results')}}">
    <header class="header">
        <h2 class="title">Code Checker Results</h2>
        <button class="button layered" ng-click="setLayout('code_checker_results','layered')">Layered</button>
        <button class="button vertical" ng-click="setLayout('code_checker_results','vertical')">Vertical</button>
    </header>

    <section class="sub-section {{validator_type}} code_checker_results {{getLayoutCSS('code_checker_results')}} {{getTabSelectedCSS('code_checker_results',validator_type)}}" ng-repeat="validator_type in validator_types">
        <header class="header">
            <h3 class="tab {{validator_type}} {{getTabSelectedCSS('code_checker_results',validator_type)}}" ng-click="setTabSelected('code_checker_results',validator_type)">{{validator_type}}</h3>
            <ul ng-show="isShowingSettings('code_checker_results',validator_type)" class="settings {{validator_type}}">
                <li class="item">
                    <label class="key total">Total Results: </label>
                    <em class="value total">{{getCodeCheckerResultsParam(validator_type,'count')}}</em>
                </li>
                <li class="item">
                    <label class="key limit" for="code_checker_results_limit">Limit Per Page: </label>
                    <select class="input select limit" ng-options="limit for limit in limits" ng-change="getCodeCheckerResults(validator_type,project_panel_code_checker_results_params[validator_type]['limit'],1)" ng-model="project_panel_code_checker_results_params[validator_type]['limit']"></select>
                </li>
            </ul>
            <button class="button settings {{validator_type}}" ng-click="toggleShowSettings('code_checker_results', validator_type)">Show/Hide Settings</button>
        </header>

        <ul class="preview code_checker_results">
            <li class="item {{result.validator}} {{result.level}}" ng-repeat="result in code_checker_results[validator_type]">
                <a class="link_block" href="#">
                    <h3 class="name">{{result.message}}</h3>
                    <dl class="attributes">
                        <dt class="key file_type">Type:</dt>
                        <dd class="value file_type">{{result.file_type}}</dd>
                        <dt class="key file_path">File:</dt>
                        <dd class="value file_path">{{result.url}}</dd>                       
                        <dt class="key line_num">Line:</dt>
                        <dd class="value line_num">{{result.line_num}}</dd>
                        <dt class="key source">Source:</dt>
                        <dd class="value source">{{result.source}}</dd>
                    </dl>
                </a>
            </li>
        </ul>
        <p ng-show="!code_checker_results[validator_type] || code_checker_results[validator_type].length == 0" class="info none">No code_checker_results</p>
        <ul class="pagination" ng-if="code_checker_results_page_count_arr[validator_type] && code_checker_results_page_count_arr[validator_type].length > 1">
            <li class="item previous" ng-click="getCodeCheckerResults(validator_type,getCodeCheckerResultsParam(validator_type,'limit'),getCodeCheckerResultsParam(validator_type,'page')-1)">
                <a href="#">&laquo;</a>
            </li>
            <li class="item {{currentCodeCheckerResultsPageClass(validator_type,$index+1)}}" ng-repeat="i in code_checker_results_page_count_arr[validator_type] track by $index">
                <a href="#" ng-click="getCodeCheckerResults(validator_type,getCodeCheckerResultsParam(validator_type,'limit'),$index+1)">{{$index+1}}</a>
            </li>
            <li class="item next" ng-click="getCodeCheckerResults(validator_type,getCodeCheckerResultsParam(validator_type,'limit'),getCodeCheckerResultsParam(validator_type,'page')+1)">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </section>
</section>