<section id="task_details_section" class="section">
    <header class="section_header">
        <h2 class="title">{{this_task.name}}</h2>
    </header>

    <dl class="attributes">
        <dt class="key status">Status:</dt>
        <dd class="value status">{{this_task.status}}</dd>
        <dt class="key deadline">Deadline:</dt>
        <dd class="value deadline" ng-if="this_task.deadline">{{this_task.deadline}}</dd>            
        <dd class="value value--none deadline" ng-if="!this_task.deadline">Not defined</dd>           
        <dt class="key priority">Priority:</dt>
        <dd class="value priority" ng-if="this_task.priority">{{getPriorityLabel(this_task.priority)}}</dd>
        <dd class="value value--none priority" ng-if="!this_task.priority">Not defined</dd>        
        <dt class="key project">Project:</dt>
        <dd class="value project" ng-if="this_task.project_name">{{this_task.project_name}}</dd>
        <dd class="value value--none project" ng-if="!this_task.project_name">Not assigned</dd>              
        <dt class="key description">Description:</dt>
        <dd class="value description">{{this_task.description}}</dd>
    </dl>
</section>

<section id="users_section" class="section">
    <header class="section_header">
        <h2 class="title">Users Assigned to Task</h2>
    </header>
    <ul id="users_list" class="section_information">
        <li class="item {{is_mine_class(assigned_user)}}" ng-repeat="assigned_user in assigned_users">
            <p class="info assigned_user" ng-if="loggedin_user.id == assigned_user.user_id">You are assigned to this task.</p>
            <a href="./user-panel/{{assigned_user.user_id}}">
                <h3 class="key user" ng-if="assigned_user.title">{{assigned_user.title}}</h3>
                <h3 class="key key--none user" ng-if="!assigned_user.title">Undefined Title</h2>
                <p class="value user">{{assigned_user.firstname}} {{assigned_user.lastname}}</p>
                <dl class="attributes">
                    <dt class="key progress_description">
                        <em ng-if="loggedin_user.id == assigned_user.user_id">My </em>
                        Progress Description:
                    </dt>
                    <dd class="value progress_description">{{assigned_user.progress_description}}</dd>
                </dl>
            </a>
            <button class="button delete" ng-if="loggedin_user.admin || loggedin_user.id == assigned_user.user_id || loggedin_user.id == this_task.creator_user_id"
                ng-click="remove_user(assigned_user)" title="Remove User"
                >Remove User</button>

            <form ng-if="loggedin_user.id == assigned_user.user_id" class="form update_progress">
                <p class="field">
                    <input class="input" type="text" ng-model="my_progress_description">
                </p>
                <p class="field">
                    <input class="button" type="submit" value="Update My Progress" ng-click="update_progress()">
                </p>        
            </form>            
        </li>
    </ul>
    <p class="info info--none" ng-if="!assigned_users || assigned_users.length == 0">Needs Assignee</p>
    <form class="form assign_user">
        <p class="title">Assign User to Task: </p>
        <p class="field"><label class="label" for="selected_user_id">User Name: </label>
            <select class="input select" ng-options="user.id as getFullName(user) for user in users track by user.id" ng-model="selected_user_id"></select>
        </p>        
        <p class="field">
            <input class="button" type="submit" value="Assign User" ng-click="assign_user()">
        </p>        
    </form>
</section>