<section id="profile_section" class="section">
    <header class="section_header">
        <h2 class="title">{{this_user.title}}</h2>
        <p class="name">{{this_user.firstname}} {{this_user.lastname}}</p>
    </header>
    <figure ng-if="this_user_photo.uri" class="figure">
        <p class="image">
            <img src = "{{this_user_photo.uri}}" />
        </p>
        <figcaption class="caption">
            {{this_user_photo.caption}}
        </figcaption>
    </figure>
    <dl class="attributes">
        <dt class="key email"><em ng-if="loggedin_user.id==this_user.id">My </em>Email:</dt>
        <dd class="value email">{{this_user.email}}</dd>
        <dt class="key status"><em ng-if="loggedin_user.id==this_user.id">My </em>Status:</dt>
        <dd class="value status">{{this_user.status}}</dd>
        <dt class="key bio"><em ng-if="loggedin_user.id==this_user.id">My </em>Bio:</dt>
        <dd class="value bio">{{this_user.bio}}</dd>
    </dl>
    <ul class="links">
        <li ng-if="this_project_id" class="item back"><a href="./projects/{{this_project_id}}">Go Back to Project</a></li>
        <li ng-if="loggedin_user.admin || loggedin_user.id == this_user.id" class="item edit"><a href="./users/{{this_user.id}}/edit">Edit User Account</a></li>
        <li ng-if="loggedin_user.admin" class="item delete"><a ng-click="delete_user()">Delete User</a></li>
    </ul>
</section>

<section id="tasks_section" class="section">
    <header class="section_header">
        <h2 class="title">
            <em ng-if="loggedin_user.id==this_user.id">My</em>
            <em ng-if="loggedin_user.id!=this_user.id">{{this_user.firstname}}'s</em> 
             Task Board
        </h2>
    </header>
    <ul id="tasks_list" class="section_information">
        <li class="item" ng-repeat="task in tasks">
            <a href="./users/{{this_user.id}}/tasks/{{task.task_id}}">
                <h3 class="name">{{task.name}}</h3>
                <p class="info">
                    {{task.description}}
                </p>
                <dl class="attributes">
                    <dt class="key this_user_progress">
                        <em ng-if="loggedin_user.id==this_user.id">My</em>
                        <em ng-if="loggedin_user.id!=this_user.id">{{this_user.firstname}}'s</em>                         
                         Progress:
                    </dt>
                    <dd class="value this_user_progress">
                        {{this_task_user.progress_description}}
                    </dd>
                    <dt class="key assigned_to" ng-if="task.users.length > 1">Also assigned to this task:</dt>
                    <dd class="value_item assigned_to {{cssLast($last)}}" ng-if="task_user.user_id != this_user.id" ng-repeat="task_user in task.users">
                        <em class="key user">{{task_user.firstname}} {{task_user.lastname}}: </em>
                        <p class="value user">{{task_user.progress_description}}</p>
                    </dd>
                    <dt class="key priority">Priority:</dt>
                    <dd class="value priority" ng-if="task.priority">{{getPriorityLabel(task.priority)}}</dd>
                    <dd class="value value--none priority" ng-if="!task.priority">Not defined</dd>
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline" ng-if="task.deadline">{{prettyDate(task.deadline)}}</dd>
                    <dd class="value value--none deadline" ng-if="!task.deadline">Not defined</dd>
                    <dt class="key project">Project:</dt>
                    <dd class="value project" ng-if="task.project_name">{{task.project_name}}</dd>
                    <dd class="value value--none project" ng-if="!task.project_name">Not Assigned</dd>
                </dl>
            </a>
        </li>
    </ul>
    <p ng-if="!tasks || tasks.length == 0" class="info info--none">No tasks</p>
</section>

<section id="projects_section" class="section">
    <header class="section_header">
        <h2 class="title">
            <em ng-if="loggedin_user.id==this_user.id">My</em>
            <em ng-if="loggedin_user.id!=this_user.id">{{this_user.firstname}}'s</em>
             Projects List
        </h2>
    </header>
    <ul id="projects_list" class="section_information">
        <li class="item" ng-repeat="project in projects">
            <a href="./users/{{this_user.id}}/projects/{{project.project_id}}">
                <h3 class="name">{{project.name}}</h3>
                <dl class="attributes">
                    <dt class="key users">Users:</dt>
                    <dd class="value_item users  {{cssLast($last)}}" ng-repeat="project_user in project.users">
                        <em class="key role" ng-if="project_user.role">{{project_user.role}}: </em>
                        <em class="key key--none role" ng-if="!project_user.role">Undefined Role: </em>
                        <p class="value role">{{project_user.firstname}} {{project_user.lastname}}</p>
                    </dd>
                    <dd class="value value--none users" ng-if="!project.users || project.users.length == 0">No users assigned</dd>
                    <dt class="key start_date">Start Date:</dt>
                    <dd class="value start_date" ng-if="project.start_date">{{prettyDate(project.start_date)}}</dd>
                    <dd class="value value--none start_date" ng-if="!project.start_date">Not defined</dd>
                    <dt class="key deadline">Deadline:</dt>
                    <dd class="value deadline" ng-if="project.deadline">{{prettyDate(project.deadline)}}</dd>
                    <dd class="value value--none deadline" ng-if="!project.deadline">Not defined</dd>
                    <dt class="key tasks_rank">Task Rank:</dt>
                    <dd class="value_item tasks_rank {{cssLast($last)}}" ng-repeat="project_task in project.tasks">
                        <span class="key rank">{{$index + 1}}</span>
                        <p class="value rank">{{project_task.name}}</p>
                    </dd>
                    <dd class="value value--none tasks" ng-if="!project.tasks || project.tasks.length == 0">No tasks</dd>
                </dl>
            </a>
        </li>
    </ul>
    <p ng-if="!projects || projects.length == 0" class="info info--none">No projects</p>
</section>