/* line 5, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_00_defaults.scss */
body * {
  position: relative;
  box-sizing: border-box;
}

/* line 7, ../sass/_00_defaults.scss */
button:focus {
  outline: 0;
}

/* line 9, ../sass/_00_defaults.scss */
button:hover {
  cursor: pointer;
}

/* line 11, ../sass/_00_defaults.scss */
a {
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

/* line 17, ../sass/_00_defaults.scss */
pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  overflow-wrap: break-word;
  word-break: break-all;
}

/* line 26, ../sass/_00_defaults.scss */
img {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 2, ../sass/_01_elements.scss */
.logo {
  color: #383838;
  font-size: 36px;
}
/* line 5, ../sass/_01_elements.scss */
.logo a {
  text-decoration: none;
  color: #5e5e5e;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:visited {
  color: #5e5e5e;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:focus {
  color: #5e5e5e;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:hover {
  color: #5e5e5e;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:active {
  color: #5e5e5e;
}

/* line 11, ../sass/_01_elements.scss */
.title {
  font-weight: bold;
  font-size: 24px;
}

/* line 16, ../sass/_01_elements.scss */
.name {
  font-weight: bold;
  font-size: 16px;
}

/* line 21, ../sass/_01_elements.scss */
.info {
  font-size: 14px;
}

/* line 27, ../sass/_01_elements.scss */
.message.welcome {
  text-align: center;
  font-size: 30px;
}
/* line 30, ../sass/_01_elements.scss */
.message.welcome a {
  text-decoration: underline;
}

/* line 35, ../sass/_01_elements.scss */
.message.login_status {
  color: black;
  font-size: 12px;
}

/* line 40, ../sass/_01_elements.scss */
.message.flash {
  font-size: 16px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 51, ../sass/_01_elements.scss */
.caption {
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
}

/* line 57, ../sass/_01_elements.scss */
.key {
  font-size: 12px;
  font-weight: bold;
  color: #383838;
}

/* line 63, ../sass/_01_elements.scss */
.value {
  font-size: 12px;
  color: black;
}

/* line 68, ../sass/_01_elements.scss */
.value_item {
  font-size: 12px;
  color: black;
}

/* line 73, ../sass/_01_elements.scss */
.link {
  font-size: 16px;
  text-decoration: none;
  color: #081ed1;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:visited {
  color: #081ed1;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:focus {
  color: #081ed1;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:hover {
  color: #081ed1;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:active {
  color: #081ed1;
}
/* line 78, ../sass/_01_elements.scss */
.link:hover {
  background-color: #e2edff;
}

/* line 83, ../sass/_01_elements.scss */
.link_block {
  display: block;
  text-decoration: none;
  color: black;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:visited {
  color: black;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:focus {
  color: black;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:hover {
  color: black;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:active {
  color: black;
}
/* line 88, ../sass/_01_elements.scss */
.link_block:hover {
  background-color: #e2edff;
}

/* line 94, ../sass/_01_elements.scss */
.label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #5e5e5e;
}

/* line 103, ../sass/_01_elements.scss */
.input {
  border: 1px solid #c2c2c2;
  font-size: 18px;
  height: 24px;
  width: 70%;
  padding-left: 5px;
}

/* line 111, ../sass/_01_elements.scss */
.input.name {
  width: 100%;
}

/* line 115, ../sass/_01_elements.scss */
.input.area {
  height: 300px;
  width: 100%;
}

/* line 121, ../sass/_01_elements.scss */
.button {
  background-color: #c2c2c2;
  text-align: center;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
/* line 126, ../sass/_01_elements.scss */
.button:hover {
  background-color: #e2edff;
}

/* line 131, ../sass/_01_elements.scss */
.button.submit {
  border: 1px solid #5e5e5e;
  font-size: 18px;
  padding: 10px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 138, ../sass/_01_elements.scss */
.button.cancel {
  font-size: 18px;
  text-decoration: underline;
  background-color: transparent;
  color: #081ed1;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:visited {
  color: #081ed1;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:focus {
  color: #081ed1;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:hover {
  color: #081ed1;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:active {
  color: #081ed1;
}

/* line 145, ../sass/_01_elements.scss */
.button.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 159, ../sass/_01_elements.scss */
.button.delete:hover {
  background-color: none;
  color: #c40505;
}
/* line 163, ../sass/_01_elements.scss */
.button.delete:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f00d";
}

/* line 174, ../sass/_01_elements.scss */
.button.pin {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: #c2c2c2;
  margin: 0px;
  padding: 0px;
}
/* line 188, ../sass/_01_elements.scss */
.button.pin:hover {
  background-color: none;
  color: #c40505;
}
/* line 192, ../sass/_01_elements.scss */
.button.pin:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f08d";
}

/* line 203, ../sass/_01_elements.scss */
.pinned {
  color: #c40505 !important;
}
/* line 206, ../sass/_01_elements.scss */
.pinned:hover {
  background-color: none;
  color: #c2c2c2 !important;
}
/* line 211, ../sass/_01_elements.scss */
.pinned:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 220, ../sass/_01_elements.scss */
.button.calendar {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 233, ../sass/_01_elements.scss */
.button.calendar:hover {
  background-color: none;
  color: #081ed1;
}
/* line 237, ../sass/_01_elements.scss */
.button.calendar:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f073";
}

/* line 248, ../sass/_01_elements.scss */
.button.expand {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 261, ../sass/_01_elements.scss */
.button.expand:hover {
  background-color: none;
  color: #081ed1;
}
/* line 265, ../sass/_01_elements.scss */
.button.expand:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f196";
}

/* line 276, ../sass/_01_elements.scss */
.button.collapse {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 289, ../sass/_01_elements.scss */
.button.collapse:hover {
  background-color: none;
  color: #081ed1;
}
/* line 293, ../sass/_01_elements.scss */
.button.collapse:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f147";
}

/* line 304, ../sass/_01_elements.scss */
.button.minimize {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 20px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 318, ../sass/_01_elements.scss */
.button.minimize:hover {
  background-color: #e2edff;
  color: #081ed1;
}
/* line 322, ../sass/_01_elements.scss */
.button.minimize:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f2d1";
}

/* line 333, ../sass/_01_elements.scss */
.button.maximize {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 20px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 347, ../sass/_01_elements.scss */
.button.maximize:hover {
  background-color: none;
  color: #081ed1;
}
/* line 351, ../sass/_01_elements.scss */
.button.maximize:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f2d2";
}

/* line 362, ../sass/_01_elements.scss */
.button.permissions {
  position: absolute;
  top: 5px;
  right: 20px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px !important;
}
/* line 376, ../sass/_01_elements.scss */
.button.permissions:hover {
  background-color: transparent !important;
  color: #081ed1 !important;
}
/* line 380, ../sass/_01_elements.scss */
.button.permissions:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f023";
}

/* line 391, ../sass/_01_elements.scss */
.button.edit {
  position: relative;
  top: 0px;
  right: 0px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px !important;
}
/* line 405, ../sass/_01_elements.scss */
.button.edit:hover {
  background-color: transparent !important;
  color: #081ed1 !important;
}
/* line 409, ../sass/_01_elements.scss */
.button.edit:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f040";
}

/* line 420, ../sass/_01_elements.scss */
.button.settings {
  position: relative;
  padding: 15px 0px;
  height: 20px;
  color: black;
  line-height: 20px;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: none;
  text-indent: 9999px;
  overflow: hidden;
  text-align: center;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
/* line 434, ../sass/_01_elements.scss */
.button.settings:hover {
  background-color: #e2edff;
}
/* line 437, ../sass/_01_elements.scss */
.button.settings:before {
  position: absolute;
  text-indent: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "FontAwesome";
  content: "\f102";
  display: block;
  text-align: center;
}
/* line 449, ../sass/_01_elements.scss */
.button.settings.show {
  display: block;
}
/* line 451, ../sass/_01_elements.scss */
.button.settings.show:before {
  content: "\f1de";
}
/* line 455, ../sass/_01_elements.scss */
.button.settings.hide {
  display: block;
}
/* line 457, ../sass/_01_elements.scss */
.button.settings.hide:before {
  content: "\f1de";
}

/* line 467, ../sass/_01_elements.scss */
.show {
  display: block;
}

/* line 471, ../sass/_01_elements.scss */
.hide {
  display: none;
}

/* line 475, ../sass/_01_elements.scss */
.disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 484, ../sass/_01_elements.scss */
.footer {
  text-align: center;
  font-size: 10px;
  color: #5e5e5e;
}

/* line 491, ../sass/_01_elements.scss */
.alert {
  color: #424000;
  background-color: #f9f795;
  border-color: #424000;
}

/* line 497, ../sass/_01_elements.scss */
.fail {
  color: #8c0000;
  background-color: #ffb2b2;
  border-color: #8c0000;
}

/* line 503, ../sass/_01_elements.scss */
.success {
  color: #104c11;
  background-color: #e8ffed;
  border-color: #104c11;
}

/* line 509, ../sass/_01_elements.scss */
.none {
  color: #939393;
}

/* line 513, ../sass/_01_elements.scss */
.important {
  font-weight: bold;
  color: #c40505;
}

/* line 518, ../sass/_01_elements.scss */
.finished,
button.finished {
  color: #1f7c20;
  background-color: #e8ffed;
}

/* line 524, ../sass/_01_elements.scss */
.doing,
button.doing {
  color: #081ed1;
  background-color: #fffce2;
}

/* line 530, ../sass/_01_elements.scss */
.new,
button.new {
  color: #db7400;
  background-color: white;
}

/* line 536, ../sass/_01_elements.scss */
.waiting,
button.waiting {
  color: black;
  background-color: #ffe5fc;
}

/* line 542, ../sass/_01_elements.scss */
.dump,
button.dump {
  color: black;
  background-color: white;
}

/* line 548, ../sass/_01_elements.scss */
.archived {
  color: black;
  background-color: #e2e2e2;
}

/* line 553, ../sass/_01_elements.scss */
.active {
  font-weight: bold;
  text-decoration: underline;
}

/* line 559, ../sass/_01_elements.scss */
.is_mine {
  background-color: #f9f795;
}

/* line 563, ../sass/_01_elements.scss */
.markdown {
  /* Begin bidirectionality settings (do not change) */
}
/* line 41, ../sass/_00_defaults.scss */
.markdown img {
  width: auto;
  height: auto;
}
/* line 45, ../sass/_00_defaults.scss */
.markdown html, .markdown address,
.markdown blockquote,
.markdown body, .markdown dd, .markdown div,
.markdown dl, .markdown dt, .markdown fieldset, .markdown form,
.markdown frame, .markdown frameset,
.markdown h1, .markdown h2, .markdown h3, .markdown h4,
.markdown h5, .markdown h6, .markdown noframes,
.markdown ol, .markdown p, .markdown ul, .markdown center,
.markdown dir, .markdown hr, .markdown menu, .markdown pre {
  display: block;
  unicode-bidi: embed;
}
/* line 54, ../sass/_00_defaults.scss */
.markdown li {
  display: list-item;
}
/* line 55, ../sass/_00_defaults.scss */
.markdown head {
  display: none;
}
/* line 56, ../sass/_00_defaults.scss */
.markdown table {
  display: table;
}
/* line 57, ../sass/_00_defaults.scss */
.markdown tr {
  display: table-row;
}
/* line 58, ../sass/_00_defaults.scss */
.markdown thead {
  display: table-header-group;
}
/* line 59, ../sass/_00_defaults.scss */
.markdown tbody {
  display: table-row-group;
}
/* line 60, ../sass/_00_defaults.scss */
.markdown tfoot {
  display: table-footer-group;
}
/* line 61, ../sass/_00_defaults.scss */
.markdown col {
  display: table-column;
}
/* line 62, ../sass/_00_defaults.scss */
.markdown colgroup {
  display: table-column-group;
}
/* line 63, ../sass/_00_defaults.scss */
.markdown td, .markdown th {
  display: table-cell;
}
/* line 64, ../sass/_00_defaults.scss */
.markdown caption {
  display: table-caption;
}
/* line 65, ../sass/_00_defaults.scss */
.markdown th {
  font-weight: bolder;
  text-align: center;
}
/* line 66, ../sass/_00_defaults.scss */
.markdown caption {
  text-align: center;
}
/* line 67, ../sass/_00_defaults.scss */
.markdown body {
  margin: 8px;
}
/* line 68, ../sass/_00_defaults.scss */
.markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 69, ../sass/_00_defaults.scss */
.markdown h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
/* line 70, ../sass/_00_defaults.scss */
.markdown h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
/* line 71, ../sass/_00_defaults.scss */
.markdown h4, .markdown p,
.markdown blockquote, .markdown ul,
.markdown fieldset, .markdown form,
.markdown ol, .markdown dl, .markdown dir,
.markdown menu {
  margin: 1.12em 0;
}
/* line 76, ../sass/_00_defaults.scss */
.markdown h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
/* line 77, ../sass/_00_defaults.scss */
.markdown h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
/* line 78, ../sass/_00_defaults.scss */
.markdown h1, .markdown h2, .markdown h3, .markdown h4,
.markdown h5, .markdown h6, .markdown b,
.markdown strong {
  font-weight: bolder;
}
/* line 81, ../sass/_00_defaults.scss */
.markdown blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
/* line 82, ../sass/_00_defaults.scss */
.markdown i, .markdown cite, .markdown em,
.markdown var, .markdown address {
  font-style: italic;
}
/* line 84, ../sass/_00_defaults.scss */
.markdown pre, .markdown tt, .markdown code,
.markdown kbd, .markdown samp {
  font-family: monospace;
}
/* line 86, ../sass/_00_defaults.scss */
.markdown pre {
  white-space: pre;
}
/* line 87, ../sass/_00_defaults.scss */
.markdown button, .markdown textarea,
.markdown input, .markdown select {
  display: inline-block;
}
/* line 89, ../sass/_00_defaults.scss */
.markdown big {
  font-size: 1.17em;
}
/* line 90, ../sass/_00_defaults.scss */
.markdown small, .markdown sub, .markdown sup {
  font-size: 0.83em;
}
/* line 91, ../sass/_00_defaults.scss */
.markdown sub {
  vertical-align: sub;
}
/* line 92, ../sass/_00_defaults.scss */
.markdown sup {
  vertical-align: super;
}
/* line 93, ../sass/_00_defaults.scss */
.markdown table {
  border-spacing: 2px;
}
/* line 94, ../sass/_00_defaults.scss */
.markdown thead, .markdown tbody,
.markdown tfoot {
  vertical-align: middle;
}
/* line 96, ../sass/_00_defaults.scss */
.markdown td, .markdown th, .markdown tr {
  vertical-align: inherit;
}
/* line 97, ../sass/_00_defaults.scss */
.markdown s, .markdown strike, .markdown del {
  text-decoration: line-through;
}
/* line 98, ../sass/_00_defaults.scss */
.markdown hr {
  border: 1px inset;
}
/* line 99, ../sass/_00_defaults.scss */
.markdown ol, .markdown ul, .markdown dir,
.markdown menu, .markdown dd {
  margin-left: 40px;
}
/* line 101, ../sass/_00_defaults.scss */
.markdown ol {
  list-style-type: decimal;
}
/* line 102, ../sass/_00_defaults.scss */
.markdown ol ul, .markdown ul ol,
.markdown ul ul, .markdown ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 104, ../sass/_00_defaults.scss */
.markdown u, .markdown ins {
  text-decoration: underline;
}
/* line 105, ../sass/_00_defaults.scss */
.markdown br:before {
  content: "\A";
  white-space: pre-line;
}
/* line 106, ../sass/_00_defaults.scss */
.markdown center {
  text-align: center;
}
/* line 107, ../sass/_00_defaults.scss */
.markdown :link, .markdown :visited {
  text-decoration: underline;
}
/* line 108, ../sass/_00_defaults.scss */
.markdown :focus {
  outline: thin dotted invert;
}
/* line 109, ../sass/_00_defaults.scss */
.markdown ul {
  list-style-type: disc;
}
/* line 112, ../sass/_00_defaults.scss */
.markdown BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}
/* line 113, ../sass/_00_defaults.scss */
.markdown BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
/* line 115, ../sass/_00_defaults.scss */
.markdown *[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}
/* line 116, ../sass/_00_defaults.scss */
.markdown *[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
@media print {
  /* line 119, ../sass/_00_defaults.scss */
  .markdown h1 {
    page-break-before: always;
  }
  /* line 120, ../sass/_00_defaults.scss */
  .markdown h1, .markdown h2, .markdown h3,
  .markdown h4, .markdown h5, .markdown h6 {
    page-break-after: avoid;
  }
  /* line 122, ../sass/_00_defaults.scss */
  .markdown ul, .markdown ol, .markdown dl {
    page-break-before: avoid;
  }
}
/* line 565, ../sass/_01_elements.scss */
.markdown img.small {
  width: 25%;
  height: auto;
}
/* line 569, ../sass/_01_elements.scss */
.markdown img.medium {
  width: 50%;
  height: auto;
}
/* line 573, ../sass/_01_elements.scss */
.markdown img.large {
  width: 100%;
  height: auto;
}

/* line 579, ../sass/_01_elements.scss */
.image.profile {
  cursor: pointer;
  position: relative;
}
/* line 583, ../sass/_01_elements.scss */
.image.profile .add-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  font: normal normal normal 14px/1 FontAwesome;
}
/* line 595, ../sass/_01_elements.scss */
.image.profile .add-photo:after {
  content: "\f067";
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 606, ../sass/_01_elements.scss */
.image.profile:hover .add-photo {
  opacity: 1;
}

/* line 611, ../sass/_01_elements.scss */
.avatar {
  height: 40px;
  width: 40px;
  background-color: #e2e2e2;
  color: black;
  font-size: 20px;
  line-height: 40px;
  text-align: center !important;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
}

/* line 3, ../sass/_02_components.scss */
.links {
  padding: 15px;
}
/* line 5, ../sass/_02_components.scss */
.links .item {
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  padding: 0px 10px 0px;
}
/* line 9, ../sass/_02_components.scss */
.links .item:last-child {
  border-right: none;
}

/* line 18, ../sass/_02_components.scss */
.attributes .key,
.item .key {
  clear: left;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
/* line 24, ../sass/_02_components.scss */
.attributes .value,
.item .value {
  clear: right;
  float: left;
  margin-bottom: 3px;
}
/* line 29, ../sass/_02_components.scss */
.attributes .value.description,
.item .value.description {
  width: 100%;
}
/* line 32, ../sass/_02_components.scss */
.attributes .value_item,
.item .value_item {
  display: block;
  clear: left;
  padding-left: 10px;
}
/* line 33, ../sass/_00_defaults.scss */
.attributes .value_item:after,
.item .value_item:after {
  content: '';
  display: table;
  clear: both;
}
/* line 38, ../sass/_02_components.scss */
.attributes .value_item.last,
.item .value_item.last {
  margin-bottom: 5px;
}
/* line 33, ../sass/_00_defaults.scss */
.attributes:after,
.item:after {
  content: '';
  display: table;
  clear: both;
}

/* line 45, ../sass/_02_components.scss */
.settings {
  padding: 10px 10px 5px;
  background-color: #e2e2e2;
}
/* line 48, ../sass/_02_components.scss */
.settings .item {
  display: block;
  text-decoration: underline;
  font-size: 14px;
}
/* line 52, ../sass/_02_components.scss */
.settings .item * {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
/* line 57, ../sass/_02_components.scss */
.settings .item .input {
  width: 70px;
}
/* line 33, ../sass/_00_defaults.scss */
.settings .item:after {
  content: '';
  display: table;
  clear: both;
}

/* line 66, ../sass/_02_components.scss */
.preview .item {
  display: block;
  padding: 0px;
  border-bottom: 1px solid #c2c2c2;
}
/* line 70, ../sass/_02_components.scss */
.preview .item .link_block {
  padding: 10px 5px 10px;
}
/* line 73, ../sass/_02_components.scss */
.preview .item .name {
  margin-bottom: 5px;
}
/* line 76, ../sass/_02_components.scss */
.preview .item .info {
  margin-bottom: 5px;
}
/* line 79, ../sass/_02_components.scss */
.preview .item .info.description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 93, ../sass/_02_components.scss */
.preview.projects .name {
  font-size: 20px;
}

/* line 98, ../sass/_02_components.scss */
.preview.users {
  position: relative;
}
/* line 33, ../sass/_00_defaults.scss */
.preview.users .link_block:after {
  content: '';
  display: table;
  clear: both;
}
/* line 104, ../sass/_02_components.scss */
.preview.users .avatar {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 110, ../sass/_02_components.scss */
.preview.users .info {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 116, ../sass/_02_components.scss */
.preview.users .key.user {
  float: none;
  display: block;
  font-size: 16px;
}
/* line 121, ../sass/_02_components.scss */
.preview.users .value.user {
  float: none;
  display: block;
  font-size: 14px;
  padding-left: 3px;
}
/* line 127, ../sass/_02_components.scss */
.preview.users .progress_description {
  margin-top: 10px;
}
/* line 130, ../sass/_02_components.scss */
.preview.users .message.free {
  font-weight: bold;
  color: #1f7c20;
  padding-left: 5px;
}
/* line 135, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics {
  padding: 5px;
  float: right;
  background-color: black;
  color: white;
}
/* line 140, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .key {
  font-weight: normal;
  color: white;
}
/* line 144, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .key.alert {
  background-color: transparent;
  color: white;
}
/* line 148, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .key.success {
  background-color: transparent;
  color: white;
}
/* line 152, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .value {
  font-weight: normal;
  color: white;
}
/* line 156, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .value.alert {
  background-color: transparent;
  font-weight: bold;
  color: red;
}
/* line 161, ../sass/_02_components.scss */
.preview.users .attributes.task-metrics .value.success {
  background-color: transparent;
  color: lightgreen;
}

/* line 171, ../sass/_02_components.scss */
.figure .caption {
  text-align: center;
}

/* line 177, ../sass/_02_components.scss */
.form {
  width: 50%;
  margin: auto;
  border: 1px solid #c2c2c2;
  padding: 30px;
}
/* line 182, ../sass/_02_components.scss */
.form .title {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
/* line 186, ../sass/_02_components.scss */
.form .field {
  position: relative;
  margin-bottom: 15px;
}
/* line 190, ../sass/_02_components.scss */
.form .validation_errors {
  position: relative;
  top: -10px;
}
/* line 193, ../sass/_02_components.scss */
.form .validation_errors .item {
  list-style-type: disc;
  list-style-position: inside;
  color: red;
}

/* line 202, ../sass/_02_components.scss */
.form.assign_user {
  background-color: #e2edff;
  margin-top: 10px;
  width: 100%;
}
/* line 206, ../sass/_02_components.scss */
.form.assign_user .input {
  width: 100%;
}

/* line 211, ../sass/_02_components.scss */
.form.task_quick_add {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 5px 0px 10px;
  margin: 0px;
  margin-top: 0px;
  position: relative;
}
/* line 219, ../sass/_02_components.scss */
.form.task_quick_add .field {
  display: block;
  width: 100%;
  padding-right: 75px;
  margin-bottom: 0px;
}
/* line 225, ../sass/_02_components.scss */
.form.task_quick_add .input {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: 100%;
  font-weight: normal;
}
/* line 232, ../sass/_02_components.scss */
.form.task_quick_add .button {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 70px;
  text-align: center;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 0px;
}

/* line 245, ../sass/_02_components.scss */
.form.update_progress {
  width: 100%;
  border: none;
  padding: 0px 5px 0px;
}
/* line 249, ../sass/_02_components.scss */
.form.update_progress .title {
  font-size: 14px;
}
/* line 252, ../sass/_02_components.scss */
.form.update_progress .label {
  color: black;
  font-size: 12px;
}
/* line 256, ../sass/_02_components.scss */
.form.update_progress .input {
  width: 100%;
  font-size: 12px;
}
/* line 260, ../sass/_02_components.scss */
.form.update_progress .button {
  padding: 5px;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 268, ../sass/_02_components.scss */
.pagination {
  display: inline-block;
  margin: auto;
}
/* line 33, ../sass/_00_defaults.scss */
.pagination:after {
  content: '';
  display: table;
  clear: both;
}

/* line 274, ../sass/_02_components.scss */
.pagination .item {
  float: left;
}
/* line 276, ../sass/_02_components.scss */
.pagination .item a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}
/* line 283, ../sass/_02_components.scss */
.pagination .item.selected a {
  background-color: #4CAF50;
  color: white;
}
/* line 289, ../sass/_02_components.scss */
.pagination .item:not(.selected) a:hover {
  background-color: #ddd;
}

/* line 295, ../sass/_02_components.scss */
.tabs {
  position: relative;
}
/* line 297, ../sass/_02_components.scss */
.tabs:after {
  position: relative;
  display: block;
  content: '';
  border-top: 1px solid black;
  z-index: 2;
}
/* line 304, ../sass/_02_components.scss */
.tabs .item {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 5px;
  z-index: 1;
}
/* line 310, ../sass/_02_components.scss */
.tabs .item.selected {
  z-index: 3;
}
/* line 312, ../sass/_02_components.scss */
.tabs .item.selected .tab {
  border-color: black;
  color: black;
  font-weight: bold;
}
/* line 318, ../sass/_02_components.scss */
.tabs .item .tab {
  border: 1px solid #c2c2c2;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
  color: #c2c2c2;
}

/* line 328, ../sass/_02_components.scss */
.header {
  position: relative;
}
/* line 330, ../sass/_02_components.scss */
.header .button.expand {
  position: absolute;
  right: 10px;
  top: 0px;
}
/* line 335, ../sass/_02_components.scss */
.header .button.collapse {
  position: absolute;
  right: 10px;
  top: 0px;
}

/* line 343, ../sass/_02_components.scss */
.section.projects_two .header {
  position: relative;
  min-height: 70px;
}
/* line 346, ../sass/_02_components.scss */
.section.projects_two .header .avatar {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 352, ../sass/_02_components.scss */
.section.projects_two .header .info {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 3, ../sass/_03_layout.scss */
.site .header {
  padding: 15px;
}
/* line 5, ../sass/_03_layout.scss */
.site .header .logo {
  margin-bottom: 10px;
}
/* line 9, ../sass/_03_layout.scss */
.site .header .message.login_status {
  margin-left: 10px;
}
/* line 13, ../sass/_03_layout.scss */
.site .header .message.flash {
  margin-top: 10px;
}
/* line 18, ../sass/_03_layout.scss */
.site .main {
  padding: 15px;
}
/* line 33, ../sass/_00_defaults.scss */
.site .main:after {
  content: '';
  display: table;
  clear: both;
}
/* line 23, ../sass/_03_layout.scss */
.site .footer {
  padding: 15px;
}

/* line 30, ../sass/_03_layout.scss */
.main.home .section.projects {
  width: 40%;
}
/* line 32, ../sass/_03_layout.scss */
.main.home .section.projects.full {
  width: 70%;
}
/* line 37, ../sass/_03_layout.scss */
.main.home .section.projects_two {
  width: 100%;
}
/* line 40, ../sass/_03_layout.scss */
.main.home .section.tasks {
  width: 30%;
}
/* line 42, ../sass/_03_layout.scss */
.main.home .section.tasks.minimized {
  width: 0%;
}
/* line 44, ../sass/_03_layout.scss */
.main.home .section.tasks.minimized * {
  display: none;
}
/* line 48, ../sass/_03_layout.scss */
.main.home .section.tasks.minimized .header {
  display: block;
  height: 20px;
  width: 80px;
  border: none;
}
/* line 53, ../sass/_03_layout.scss */
.main.home .section.tasks.minimized .header .title {
  background-color: #fffce2;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 10px;
  display: block;
}
/* line 61, ../sass/_03_layout.scss */
.main.home .section.tasks.minimized .header .button.minimize, .main.home .section.tasks.minimized .header .button.maximize {
  display: block;
}
/* line 67, ../sass/_03_layout.scss */
.main.home .section.users {
  width: 30%;
}

/* line 73, ../sass/_03_layout.scss */
.main.user .section.details {
  width: 33.33%;
}
/* line 76, ../sass/_03_layout.scss */
.main.user .section.tasks {
  width: 33.33%;
}
/* line 79, ../sass/_03_layout.scss */
.main.user .section.details {
  width: 33.33%;
}

/* line 85, ../sass/_03_layout.scss */
.main.project .section.details {
  width: 33.33%;
}
/* line 88, ../sass/_03_layout.scss */
.main.project .section.tasks {
  width: 33.33%;
}
/* line 91, ../sass/_03_layout.scss */
.main.project .section.users {
  width: 33.33%;
}

/* line 97, ../sass/_03_layout.scss */
.main.task .section.details {
  width: 67%;
}
/* line 100, ../sass/_03_layout.scss */
.main.task .section.users {
  width: 33%;
}

/* line 107, ../sass/_03_layout.scss */
.section {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
/* line 114, ../sass/_03_layout.scss */
.section * {
  text-align: left;
}
/* line 118, ../sass/_03_layout.scss */
.section .header {
  position: relative;
  border-bottom: 1px solid black;
  padding: 0px;
}
/* line 123, ../sass/_03_layout.scss */
.section .header .title {
  margin-bottom: 0.2em;
}
/* line 132, ../sass/_03_layout.scss */
.section .pagination {
  margin-top: 15px;
}

/* line 149, ../sass/_03_layout.scss */
.section.users .form.assign_user {
  margin-top: 10px;
}

/* line 156, ../sass/_03_layout.scss */
.section.details .header {
  border-bottom: none;
}
/* line 159, ../sass/_03_layout.scss */
.section.details .title {
  font-size: 40px;
  border-bottom: none;
  display: inline-block;
  padding-right: 20px;
}
/* line 165, ../sass/_03_layout.scss */
.section.details .name {
  font-size: 34px;
  font-weight: normal;
  color: #5e5e5e;
  margin-bottom: 5px;
}
/* line 171, ../sass/_03_layout.scss */
.section.details .figure {
  border: 1px solid black;
  width: 50%;
  margin-bottom: 25px;
}
/* line 177, ../sass/_03_layout.scss */
.section.details .key,
.section.details .value {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 183, ../sass/_03_layout.scss */
.section.details .info {
  position: relative;
  font-size: 16px;
}
/* line 188, ../sass/_03_layout.scss */
.section.details .info.description.edit {
  text-align: right;
}
/* line 192, ../sass/_03_layout.scss */
.section.details .button.edit.description {
  position: relative;
  text-indent: 0px;
  width: auto;
  height: auto;
  overflow: initial;
}
/* line 198, ../sass/_03_layout.scss */
.section.details .button.edit.description:before {
  position: relative;
  display: inline-block;
  float: right;
  top: 0px;
  left: 5px;
}
/* line 206, ../sass/_03_layout.scss */
.section.details .button.edit.name {
  font-size: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 213, ../sass/_03_layout.scss */
.section.details .attributes.metrics {
  background-color: #e2e2e2;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 215, ../sass/_03_layout.scss */
.section.details .attributes.metrics .key, .section.details .attributes.metrics .value, .section.details .attributes.metrics .link {
  font-size: 12px;
}
/* line 223, ../sass/_03_layout.scss */
.section.details .attributes.extra {
  background-color: #e2e2e2;
  padding: 10px;
}
/* line 225, ../sass/_03_layout.scss */
.section.details .attributes.extra .key, .section.details .attributes.extra .value, .section.details .attributes.extra .link {
  font-size: 10px;
}
/* line 231, ../sass/_03_layout.scss */
.section.details .form {
  width: 100%;
  padding: 0px;
  border: none;
  padding-bottom: 15px;
}
/* line 236, ../sass/_03_layout.scss */
.section.details .form .input.name {
  font-size: 30px;
  height: 40px;
}
/* line 240, ../sass/_03_layout.scss */
.section.details .form .buttons {
  text-align: right;
}
/* line 244, ../sass/_03_layout.scss */
.section.details .form .button.submit {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
}
/* line 251, ../sass/_03_layout.scss */
.section.details .form .button.cancel {
  display: inline-block;
  font-size: 14px;
}
/* line 257, ../sass/_03_layout.scss */
.section.details .form, .section.details .input, .section.details .area {
  font-size: 16px;
  width: 100%;
}
/* line 262, ../sass/_03_layout.scss */
.section.details .value.bio, .section.details .value.description {
  padding-left: 3px;
}
/* line 266, ../sass/_03_layout.scss */
.section.details .links {
  padding: 15px 0px 15px;
  border-top: 1px solid #c2c2c2;
}
