/* line 5, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_00_defaults.scss */
body * {
  position: relative;
  line-height: 1.0em;
  box-sizing: border-box;
}

/* line 7, ../sass/_00_defaults.scss */
a {
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

/* line 13, ../sass/_00_defaults.scss */
pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  overflow-wrap: break-word;
  word-break: break-all;
}

/* line 22, ../sass/_00_defaults.scss */
img {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 2, ../sass/_01_elements.scss */
.logo {
  color: #383838;
  font-size: 36px;
}
/* line 6, ../sass/_01_elements.scss */
.logo a {
  text-decoration: none;
  color: #5e5e5e;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:visited {
  color: #5e5e5e;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:focus {
  color: #5e5e5e;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:hover {
  color: #5e5e5e;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.logo a:active {
  color: #5e5e5e;
}

/* line 12, ../sass/_01_elements.scss */
.title {
  font-weight: bold;
  font-size: 24px;
}

/* line 17, ../sass/_01_elements.scss */
.name {
  font-weight: bold;
  font-size: 16px;
}

/* line 22, ../sass/_01_elements.scss */
.info {
  font-size: 14px;
}

/* line 29, ../sass/_01_elements.scss */
.message.welcome {
  text-align: center;
  font-size: 30px;
}
/* line 33, ../sass/_01_elements.scss */
.message.welcome a {
  text-decoration: underline;
}

/* line 38, ../sass/_01_elements.scss */
.message.login_status {
  color: black;
  font-size: 12px;
}

/* line 43, ../sass/_01_elements.scss */
.message.flash {
  font-size: 16px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 54, ../sass/_01_elements.scss */
.caption {
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
}

/* line 60, ../sass/_01_elements.scss */
.key {
  font-size: 12px;
  font-weight: bold;
  color: #383838;
}

/* line 66, ../sass/_01_elements.scss */
.value {
  font-size: 12px;
  color: black;
}

/* line 71, ../sass/_01_elements.scss */
.value_item {
  font-size: 12px;
  color: black;
}

/* line 76, ../sass/_01_elements.scss */
.link {
  font-size: 16px;
  text-decoration: none;
  color: #081ed1;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:visited {
  color: #081ed1;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:focus {
  color: #081ed1;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:hover {
  color: #081ed1;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link:active {
  color: #081ed1;
}
/* line 81, ../sass/_01_elements.scss */
.link:hover {
  font-size: 1.2em;
}

/* line 86, ../sass/_01_elements.scss */
.link_block {
  display: block;
  text-decoration: none;
  color: black;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:visited {
  color: black;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:focus {
  color: black;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:hover {
  color: black;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link_block:active {
  color: black;
}
/* line 91, ../sass/_01_elements.scss */
.link_block:hover {
  background-color: #e2edff;
}

/* line 97, ../sass/_01_elements.scss */
.label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #5e5e5e;
}

/* line 108, ../sass/_01_elements.scss */
.input {
  border: 1px solid #c2c2c2;
  font-size: 18px;
  height: 24px;
  width: 70%;
  padding-left: 5px;
}

/* line 116, ../sass/_01_elements.scss */
.input.name {
  width: 100%;
}

/* line 120, ../sass/_01_elements.scss */
.input.area {
  height: 300px;
  width: 100%;
}

/* line 126, ../sass/_01_elements.scss */
.button {
  background-color: #c2c2c2;
  text-align: center;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
/* line 131, ../sass/_01_elements.scss */
.button:hover {
  background-color: #e2edff;
}

/* line 136, ../sass/_01_elements.scss */
.button.submit {
  border: 1px solid #5e5e5e;
  font-size: 18px;
  padding: 10px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 143, ../sass/_01_elements.scss */
.button.cancel {
  font-size: 18px;
  text-decoration: underline;
  background-color: transparent;
  color: #081ed1;
}
/* line 18, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:visited {
  color: #081ed1;
}
/* line 21, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:focus {
  color: #081ed1;
}
/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:hover {
  color: #081ed1;
}
/* line 27, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.button.cancel:active {
  color: #081ed1;
}

/* line 150, ../sass/_01_elements.scss */
.button.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 165, ../sass/_01_elements.scss */
.button.delete:hover {
  background-color: none;
  color: #c40505;
}
/* line 170, ../sass/_01_elements.scss */
.button.delete:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f00d";
}

/* line 181, ../sass/_01_elements.scss */
.button.edit {
  position: absolute;
  top: 5px;
  right: 20px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  line-height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px !important;
}
/* line 196, ../sass/_01_elements.scss */
.button.edit:hover {
  background-color: transparent !important;
  color: #081ed1 !important;
}
/* line 201, ../sass/_01_elements.scss */
.button.edit:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f023";
}

/* line 212, ../sass/_01_elements.scss */
.button.settings {
  position: relative;
  padding: 0px;
  height: 20px;
  line-height: 20px;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #c2c2c2;
  border: none;
  text-indent: 9999px;
  overflow: hidden;
  text-align: center;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
/* line 227, ../sass/_01_elements.scss */
.button.settings:hover {
  background-color: #e2edff;
}
/* line 231, ../sass/_01_elements.scss */
.button.settings:before {
  position: absolute;
  text-indent: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "FontAwesome";
  content: "\f102";
  display: block;
  text-align: center;
}
/* line 244, ../sass/_01_elements.scss */
.button.settings.show {
  display: block;
}
/* line 246, ../sass/_01_elements.scss */
.button.settings.show:before {
  content: "\f1de";
}
/* line 251, ../sass/_01_elements.scss */
.button.settings.hide {
  display: block;
}
/* line 253, ../sass/_01_elements.scss */
.button.settings.hide:before {
  content: "\f1de";
}

/* line 265, ../sass/_01_elements.scss */
.show {
  display: block;
}

/* line 269, ../sass/_01_elements.scss */
.hide {
  display: none;
}

/* line 273, ../sass/_01_elements.scss */
.disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 282, ../sass/_01_elements.scss */
.footer {
  text-align: center;
  font-size: 10px;
  color: #5e5e5e;
}

/* line 289, ../sass/_01_elements.scss */
.alert {
  color: #424000;
  background-color: #f9f795;
  border-color: #424000;
}

/* line 295, ../sass/_01_elements.scss */
.fail {
  color: #8c0000;
  background-color: #ffb2b2;
  border-color: #8c0000;
}

/* line 301, ../sass/_01_elements.scss */
.success {
  color: #104c11;
  background-color: #e8ffed;
  border-color: #104c11;
}

/* line 307, ../sass/_01_elements.scss */
.none {
  color: #939393;
}

/* line 311, ../sass/_01_elements.scss */
.important {
  font-weight: bold;
  color: #c40505;
}

/* line 316, ../sass/_01_elements.scss */
.finished {
  color: #1f7c20;
  background-color: #e8ffed;
}

/* line 321, ../sass/_01_elements.scss */
.doing {
  color: #081ed1;
  background-color: #fffce2;
}

/* line 326, ../sass/_01_elements.scss */
.new {
  color: #db7400;
}

/* line 330, ../sass/_01_elements.scss */
.archived {
  color: black;
  background-color: #e2e2e2;
}

/* line 335, ../sass/_01_elements.scss */
.active {
  font-weight: bold;
  text-decoration: underline;
}

/* line 341, ../sass/_01_elements.scss */
.is_mine {
  background-color: #f9f795;
}

/* line 345, ../sass/_01_elements.scss */
.markdown {
  /* Begin bidirectionality settings (do not change) */
}
/* line 37, ../sass/_00_defaults.scss */
.markdown img {
  width: auto;
  height: auto;
}
/* line 41, ../sass/_00_defaults.scss */
.markdown html, .markdown address,
.markdown blockquote,
.markdown body, .markdown dd, .markdown div,
.markdown dl, .markdown dt, .markdown fieldset, .markdown form,
.markdown frame, .markdown frameset,
.markdown h1, .markdown h2, .markdown h3, .markdown h4,
.markdown h5, .markdown h6, .markdown noframes,
.markdown ol, .markdown p, .markdown ul, .markdown center,
.markdown dir, .markdown hr, .markdown menu, .markdown pre {
  display: block;
  unicode-bidi: embed;
}
/* line 50, ../sass/_00_defaults.scss */
.markdown li {
  display: list-item;
}
/* line 51, ../sass/_00_defaults.scss */
.markdown head {
  display: none;
}
/* line 52, ../sass/_00_defaults.scss */
.markdown table {
  display: table;
}
/* line 53, ../sass/_00_defaults.scss */
.markdown tr {
  display: table-row;
}
/* line 54, ../sass/_00_defaults.scss */
.markdown thead {
  display: table-header-group;
}
/* line 55, ../sass/_00_defaults.scss */
.markdown tbody {
  display: table-row-group;
}
/* line 56, ../sass/_00_defaults.scss */
.markdown tfoot {
  display: table-footer-group;
}
/* line 57, ../sass/_00_defaults.scss */
.markdown col {
  display: table-column;
}
/* line 58, ../sass/_00_defaults.scss */
.markdown colgroup {
  display: table-column-group;
}
/* line 59, ../sass/_00_defaults.scss */
.markdown td, .markdown th {
  display: table-cell;
}
/* line 60, ../sass/_00_defaults.scss */
.markdown caption {
  display: table-caption;
}
/* line 61, ../sass/_00_defaults.scss */
.markdown th {
  font-weight: bolder;
  text-align: center;
}
/* line 62, ../sass/_00_defaults.scss */
.markdown caption {
  text-align: center;
}
/* line 63, ../sass/_00_defaults.scss */
.markdown body {
  margin: 8px;
}
/* line 64, ../sass/_00_defaults.scss */
.markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* line 65, ../sass/_00_defaults.scss */
.markdown h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
/* line 66, ../sass/_00_defaults.scss */
.markdown h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
/* line 67, ../sass/_00_defaults.scss */
.markdown h4, .markdown p,
.markdown blockquote, .markdown ul,
.markdown fieldset, .markdown form,
.markdown ol, .markdown dl, .markdown dir,
.markdown menu {
  margin: 1.12em 0;
}
/* line 72, ../sass/_00_defaults.scss */
.markdown h5 {
  font-size: .83em;
  margin: 1.5em 0;
}
/* line 73, ../sass/_00_defaults.scss */
.markdown h6 {
  font-size: .75em;
  margin: 1.67em 0;
}
/* line 74, ../sass/_00_defaults.scss */
.markdown h1, .markdown h2, .markdown h3, .markdown h4,
.markdown h5, .markdown h6, .markdown b,
.markdown strong {
  font-weight: bolder;
}
/* line 77, ../sass/_00_defaults.scss */
.markdown blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
/* line 78, ../sass/_00_defaults.scss */
.markdown i, .markdown cite, .markdown em,
.markdown var, .markdown address {
  font-style: italic;
}
/* line 80, ../sass/_00_defaults.scss */
.markdown pre, .markdown tt, .markdown code,
.markdown kbd, .markdown samp {
  font-family: monospace;
}
/* line 82, ../sass/_00_defaults.scss */
.markdown pre {
  white-space: pre;
}
/* line 83, ../sass/_00_defaults.scss */
.markdown button, .markdown textarea,
.markdown input, .markdown select {
  display: inline-block;
}
/* line 85, ../sass/_00_defaults.scss */
.markdown big {
  font-size: 1.17em;
}
/* line 86, ../sass/_00_defaults.scss */
.markdown small, .markdown sub, .markdown sup {
  font-size: 0.83em;
}
/* line 87, ../sass/_00_defaults.scss */
.markdown sub {
  vertical-align: sub;
}
/* line 88, ../sass/_00_defaults.scss */
.markdown sup {
  vertical-align: super;
}
/* line 89, ../sass/_00_defaults.scss */
.markdown table {
  border-spacing: 2px;
}
/* line 90, ../sass/_00_defaults.scss */
.markdown thead, .markdown tbody,
.markdown tfoot {
  vertical-align: middle;
}
/* line 92, ../sass/_00_defaults.scss */
.markdown td, .markdown th, .markdown tr {
  vertical-align: inherit;
}
/* line 93, ../sass/_00_defaults.scss */
.markdown s, .markdown strike, .markdown del {
  text-decoration: line-through;
}
/* line 94, ../sass/_00_defaults.scss */
.markdown hr {
  border: 1px inset;
}
/* line 95, ../sass/_00_defaults.scss */
.markdown ol, .markdown ul, .markdown dir,
.markdown menu, .markdown dd {
  margin-left: 40px;
}
/* line 97, ../sass/_00_defaults.scss */
.markdown ol {
  list-style-type: decimal;
}
/* line 98, ../sass/_00_defaults.scss */
.markdown ol ul, .markdown ul ol,
.markdown ul ul, .markdown ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 100, ../sass/_00_defaults.scss */
.markdown u, .markdown ins {
  text-decoration: underline;
}
/* line 101, ../sass/_00_defaults.scss */
.markdown br:before {
  content: "\A";
  white-space: pre-line;
}
/* line 102, ../sass/_00_defaults.scss */
.markdown center {
  text-align: center;
}
/* line 103, ../sass/_00_defaults.scss */
.markdown :link, .markdown :visited {
  text-decoration: underline;
}
/* line 104, ../sass/_00_defaults.scss */
.markdown :focus {
  outline: thin dotted invert;
}
/* line 105, ../sass/_00_defaults.scss */
.markdown ul {
  list-style-type: disc;
}
/* line 108, ../sass/_00_defaults.scss */
.markdown BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}
/* line 109, ../sass/_00_defaults.scss */
.markdown BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
/* line 111, ../sass/_00_defaults.scss */
.markdown *[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}
/* line 112, ../sass/_00_defaults.scss */
.markdown *[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
@media print {
  /* line 115, ../sass/_00_defaults.scss */
  .markdown h1 {
    page-break-before: always;
  }
  /* line 116, ../sass/_00_defaults.scss */
  .markdown h1, .markdown h2, .markdown h3,
  .markdown h4, .markdown h5, .markdown h6 {
    page-break-after: avoid;
  }
  /* line 118, ../sass/_00_defaults.scss */
  .markdown ul, .markdown ol, .markdown dl {
    page-break-before: avoid;
  }
}
/* line 348, ../sass/_01_elements.scss */
.markdown img.small {
  width: 25%;
  height: auto;
}
/* line 353, ../sass/_01_elements.scss */
.markdown img.medium {
  width: 50%;
  height: auto;
}
/* line 358, ../sass/_01_elements.scss */
.markdown img.large {
  width: 100%;
  height: auto;
}

/* line 3, ../sass/_02_components.scss */
.links {
  padding: 15px;
}
/* line 6, ../sass/_02_components.scss */
.links .item {
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  padding: 0px 10px 0px;
}
/* line 11, ../sass/_02_components.scss */
.links .item:last-child {
  border-right: none;
}

/* line 19, ../sass/_02_components.scss */
.attributes .key, .item .key {
  clear: left;
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}
/* line 26, ../sass/_02_components.scss */
.attributes .value, .item .value {
  clear: right;
  float: left;
  margin-bottom: 3px;
}
/* line 32, ../sass/_02_components.scss */
.attributes .value_item, .item .value_item {
  display: block;
  clear: left;
  padding-left: 10px;
}
/* line 29, ../sass/_00_defaults.scss */
.attributes .value_item:after, .item .value_item:after {
  content: '';
  display: table;
  clear: both;
}
/* line 40, ../sass/_02_components.scss */
.attributes .value_item.last, .item .value_item.last {
  margin-bottom: 5px;
}
/* line 29, ../sass/_00_defaults.scss */
.attributes:after, .item:after {
  content: '';
  display: table;
  clear: both;
}

/* line 48, ../sass/_02_components.scss */
.settings {
  padding: 10px 10px 5px;
  background-color: #e2e2e2;
}
/* line 52, ../sass/_02_components.scss */
.settings .item {
  display: block;
  text-decoration: underline;
  font-size: 14px;
}
/* line 57, ../sass/_02_components.scss */
.settings .item * {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
/* line 63, ../sass/_02_components.scss */
.settings .item .input {
  width: 70px;
}
/* line 29, ../sass/_00_defaults.scss */
.settings .item:after {
  content: '';
  display: table;
  clear: both;
}

/* line 73, ../sass/_02_components.scss */
.preview .item {
  display: block;
  padding: 0px;
  border-bottom: 1px solid #c2c2c2;
}
/* line 78, ../sass/_02_components.scss */
.preview .item .link_block {
  padding: 10px 5px 10px;
}
/* line 82, ../sass/_02_components.scss */
.preview .item .name {
  margin-bottom: 5px;
}
/* line 86, ../sass/_02_components.scss */
.preview .item .info {
  margin-bottom: 5px;
}
/* line 92, ../sass/_02_components.scss */
.preview .item .info.description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 108, ../sass/_02_components.scss */
.preview.projects .name {
  font-size: 20px;
}

/* line 114, ../sass/_02_components.scss */
.preview.users .key.user {
  float: none;
  display: block;
  font-size: 16px;
}
/* line 119, ../sass/_02_components.scss */
.preview.users .value.user {
  float: none;
  display: block;
  font-size: 14px;
  padding-left: 3px;
}
/* line 125, ../sass/_02_components.scss */
.preview.users .progress_description {
  margin-top: 10px;
}

/* line 135, ../sass/_02_components.scss */
.figure .caption {
  text-align: center;
}

/* line 141, ../sass/_02_components.scss */
.form {
  width: 50%;
  margin: auto;
  border: 1px solid #c2c2c2;
  padding: 30px;
}
/* line 147, ../sass/_02_components.scss */
.form .title {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
/* line 152, ../sass/_02_components.scss */
.form .field {
  position: relative;
  margin-bottom: 15px;
}
/* line 157, ../sass/_02_components.scss */
.form .validation_errors {
  position: relative;
  top: -10px;
}
/* line 160, ../sass/_02_components.scss */
.form .validation_errors .item {
  list-style-type: disc;
  list-style-position: inside;
  color: red;
}

/* line 169, ../sass/_02_components.scss */
.form.assign_user {
  background-color: #e2edff;
  margin-top: 10px;
  width: 100%;
}
/* line 173, ../sass/_02_components.scss */
.form.assign_user .input {
  width: 100%;
}

/* line 178, ../sass/_02_components.scss */
.form.update_progress {
  width: 100%;
  border: none;
  padding: 0px 5px 0px;
}
/* line 182, ../sass/_02_components.scss */
.form.update_progress .title {
  font-size: 14px;
}
/* line 185, ../sass/_02_components.scss */
.form.update_progress .label {
  color: black;
  font-size: 12px;
}
/* line 189, ../sass/_02_components.scss */
.form.update_progress .input {
  width: 100%;
  font-size: 12px;
}
/* line 193, ../sass/_02_components.scss */
.form.update_progress .button {
  padding: 5px;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 201, ../sass/_02_components.scss */
.pagination {
  display: inline-block;
  margin: auto;
}
/* line 29, ../sass/_00_defaults.scss */
.pagination:after {
  content: '';
  display: table;
  clear: both;
}

/* line 208, ../sass/_02_components.scss */
.pagination .item {
  float: left;
}
/* line 211, ../sass/_02_components.scss */
.pagination .item a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
}
/* line 219, ../sass/_02_components.scss */
.pagination .item.selected a {
  background-color: #4CAF50;
  color: white;
}
/* line 226, ../sass/_02_components.scss */
.pagination .item:not(.selected) a:hover {
  background-color: #ddd;
}

/* line 3, ../sass/_03_layout.scss */
.site .header {
  padding: 15px;
}
/* line 5, ../sass/_03_layout.scss */
.site .header .logo {
  margin-bottom: 10px;
}
/* line 9, ../sass/_03_layout.scss */
.site .header .message.login_status {
  margin-left: 10px;
}
/* line 13, ../sass/_03_layout.scss */
.site .header .message.flash {
  margin-top: 10px;
}
/* line 18, ../sass/_03_layout.scss */
.site .main {
  padding: 15px;
}
/* line 29, ../sass/_00_defaults.scss */
.site .main:after {
  content: '';
  display: table;
  clear: both;
}
/* line 23, ../sass/_03_layout.scss */
.site .footer {
  padding: 15px;
}

/* line 30, ../sass/_03_layout.scss */
.main.home .section.tasks {
  width: 30%;
}
/* line 33, ../sass/_03_layout.scss */
.main.home .section.projects {
  width: 40%;
}
/* line 36, ../sass/_03_layout.scss */
.main.home .section.users {
  width: 30%;
}

/* line 42, ../sass/_03_layout.scss */
.main.user .section.details {
  width: 33.33%;
}
/* line 45, ../sass/_03_layout.scss */
.main.user .section.tasks {
  width: 33.33%;
}
/* line 48, ../sass/_03_layout.scss */
.main.user .section.details {
  width: 33.33%;
}

/* line 54, ../sass/_03_layout.scss */
.main.project .section.details {
  width: 33.33%;
}
/* line 57, ../sass/_03_layout.scss */
.main.project .section.tasks {
  width: 33.33%;
}
/* line 60, ../sass/_03_layout.scss */
.main.project .section.users {
  width: 33.33%;
}

/* line 66, ../sass/_03_layout.scss */
.main.task .section.details {
  width: 67%;
}
/* line 69, ../sass/_03_layout.scss */
.main.task .section.users {
  width: 33%;
}

/* line 76, ../sass/_03_layout.scss */
.section {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
/* line 83, ../sass/_03_layout.scss */
.section * {
  text-align: left;
}
/* line 87, ../sass/_03_layout.scss */
.section .header {
  position: relative;
  border-bottom: 1px solid black;
  padding: 0px;
}
/* line 92, ../sass/_03_layout.scss */
.section .header .title {
  margin-bottom: 0.2em;
}
/* line 97, ../sass/_03_layout.scss */
.section .pagination {
  margin-top: 15px;
}

/* line 114, ../sass/_03_layout.scss */
.section.users .form.assign_user {
  margin-top: 10px;
}

/* line 121, ../sass/_03_layout.scss */
.section.details .header {
  border-bottom: none;
}
/* line 124, ../sass/_03_layout.scss */
.section.details .title {
  font-size: 40px;
  border-bottom: none;
}
/* line 128, ../sass/_03_layout.scss */
.section.details .name {
  font-size: 34px;
  font-weight: normal;
  color: #5e5e5e;
  margin-bottom: 5px;
}
/* line 134, ../sass/_03_layout.scss */
.section.details .figure {
  border: 1px solid black;
  width: 50%;
  margin-bottom: 25px;
}
/* line 139, ../sass/_03_layout.scss */
.section.details .key,
.section.details .value {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 145, ../sass/_03_layout.scss */
.section.details .value.bio, .section.details .value.description {
  padding-left: 3px;
}
