/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Users/riv/.rvm/gems/ruby-2.4.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body * {
  line-height: 1.0em;
  box-sizing: border-box;
}

/* line 16, ../sass/screen.scss */
a {
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* line 21, ../sass/screen.scss */
pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 31, ../sass/screen.scss */
.logo {
  color: #383838;
  font-size: 36px;
  padding-bottom: 10px;
}
/* line 36, ../sass/screen.scss */
.logo a {
  text-decoration: none;
  color: black;
}
/* line 39, ../sass/screen.scss */
.logo a:visited {
  color: black;
}

/* line 47, ../sass/screen.scss */
.message {
  padding-left: 10px;
}
/* line 49, ../sass/screen.scss */
.message.main {
  text-align: center;
  font-size: 30px;
}
/* line 53, ../sass/screen.scss */
.message.flash {
  display: block;
  text-align: center;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 61, ../sass/screen.scss */
.message.alert {
  color: #424000;
  background-color: #f9f795;
  border: 1px solid #424000;
}
/* line 66, ../sass/screen.scss */
.message.fail {
  color: #680000;
  background-color: #ff9999;
  border: 1px solid #680000;
}
/* line 71, ../sass/screen.scss */
.message.success {
  color: #02440d;
  background-color: #88f79a;
  border: 1px solid #02440d;
}

/* line 97, ../sass/screen.scss */
.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.2em;
}

/* line 122, ../sass/screen.scss */
.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* line 129, ../sass/screen.scss */
.info {
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 130, ../sass/screen.scss */
.info pre {
  font-size: 14px;
}
/* line 135, ../sass/screen.scss */
.info--none {
  color: red;
}

/* line 141, ../sass/screen.scss */
.item .info.description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 159, ../sass/screen.scss */
.attributes:after {
  content: "";
  display: table;
  clear: both;
}

/* line 176, ../sass/screen.scss */
.key {
  clear: left;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #383838;
  margin-bottom: 3px;
}

/* line 186, ../sass/screen.scss */
.key--none {
  color: #5e5e5e;
}

/* line 199, ../sass/screen.scss */
.value {
  clear: right;
  float: left;
  font-size: 12px;
  padding-left: 3px;
  margin-bottom: 3px;
}

/* line 208, ../sass/screen.scss */
.value--none {
  color: #939393;
}

/* line 212, ../sass/screen.scss */
.value.status.new {
  color: #db7400;
}

/* line 216, ../sass/screen.scss */
.value.status.doing {
  color: #0300b7;
}

/* line 220, ../sass/screen.scss */
.value.status.finished {
  color: #00b73a;
}

/* line 224, ../sass/screen.scss */
.value.important {
  font-weight: bold;
  color: red;
}

/* line 243, ../sass/screen.scss */
.value_item {
  clear: left;
  display: block;
  padding-left: 10px;
  border-bottom: none;
  font-size: 12px;
}
/* line 249, ../sass/screen.scss */
.value_item:after {
  content: "";
  display: table;
  clear: both;
}

/* line 256, ../sass/screen.scss */
.value_item.last {
  margin-bottom: 5px;
}

/* line 261, ../sass/screen.scss */
.item {
  position: relative;
}

/* line 266, ../sass/screen.scss */
.links {
  padding: 15px;
}
/* line 268, ../sass/screen.scss */
.links .item {
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  padding: 0px 10px 0px;
  font-size: 16px;
}
/* line 273, ../sass/screen.scss */
.links .item a {
  text-decoration: none;
  color: blue;
}
/* line 276, ../sass/screen.scss */
.links .item a:visited {
  color: blue;
}
/* line 279, ../sass/screen.scss */
.links .item a:hover {
  font-size: 18px;
}
/* line 283, ../sass/screen.scss */
.links .item:last-child {
  border-right: none;
}
/* line 287, ../sass/screen.scss */
.links .item.active a {
  font-weight: bold;
  text-decoration: underline;
}

/* line 314, ../sass/screen.scss */
.section_header {
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
}
/* line 318, ../sass/screen.scss */
.section_header .links {
  padding: 5px 0px;
  background-color: #e2e2e2;
}
/* line 322, ../sass/screen.scss */
.section_header .links .item {
  text-decoration: underline;
}
/* line 325, ../sass/screen.scss */
.section_header .links .item .input.select {
  width: 100px;
}
/* line 330, ../sass/screen.scss */
.section_header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 357, ../sass/screen.scss */
.section_information .item {
  display: block;
  padding: 0px;
  border-bottom: 1px solid #c2c2c2;
}
/* line 361, ../sass/screen.scss */
.section_information .item a {
  color: black;
  display: block;
  padding: 10px 5px 10px;
  text-decoration: none;
}
/* line 366, ../sass/screen.scss */
.section_information .item a:hover {
  color: black;
  background-color: #e2edff;
}
/* line 370, ../sass/screen.scss */
.section_information .item a:visited {
  color: black;
}
/* line 376, ../sass/screen.scss */
.section_information .item.is_mine {
  background-color: #f9f795;
}

/* line 384, ../sass/screen.scss */
.figure {
  margin-bottom: 25px;
}
/* line 387, ../sass/screen.scss */
.figure .image img {
  position: relative;
  width: 100%;
  height: auto;
}
/* line 394, ../sass/screen.scss */
.figure .caption {
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
}

/* line 402, ../sass/screen.scss */
.form {
  width: 50%;
  margin: auto;
  border: 1px solid #c2c2c2;
  padding: 30px;
}
/* line 407, ../sass/screen.scss */
.form .title {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

/* line 414, ../sass/screen.scss */
.field {
  position: relative;
  margin-bottom: 15px;
}

/* line 420, ../sass/screen.scss */
.label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #5e5e5e;
}

/* line 428, ../sass/screen.scss */
.input {
  display: block;
  border: 1px solid #5e5e5e;
  font-size: 18px;
  height: 24px;
  width: 70%;
  padding-left: 5px;
}
/* line 435, ../sass/screen.scss */
.input.area {
  height: 300px;
  width: 100%;
}

/* line 442, ../sass/screen.scss */
.validation_errors {
  position: relative;
  top: -10px;
}
/* line 445, ../sass/screen.scss */
.validation_errors .item {
  list-style-type: disc;
  list-style-position: inside;
  color: red;
}

/* line 453, ../sass/screen.scss */
.button {
  border: 1px solid black;
  background-color: #c2c2c2;
  font-size: 18px;
  padding: 10px 15px;
  text-align: center;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 462, ../sass/screen.scss */
.button:hover {
  background-color: #e2edff;
}

/* line 467, ../sass/screen.scss */
.button.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px;
}
/* line 481, ../sass/screen.scss */
.button.delete:hover {
  background-color: none;
  color: #aa1b1b;
}
/* line 486, ../sass/screen.scss */
.button.delete:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f00d";
}

/* line 497, ../sass/screen.scss */
.button.edit {
  position: absolute;
  top: 5px;
  right: 20px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  height: 18px;
  width: 18px;
  text-indent: 9999px;
  color: black;
  margin: 0px;
  padding: 0px !important;
}
/* line 511, ../sass/screen.scss */
.button.edit:hover {
  background-color: transparent !important;
  color: #2377ff !important;
}
/* line 516, ../sass/screen.scss */
.button.edit:before {
  position: absolute;
  text-indent: 0px;
  left: 3px;
  display: block;
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f023";
}

/* line 528, ../sass/screen.scss */
.form.assign_user {
  background-color: #e2edff;
  margin-top: 10px;
  width: 100%;
}
/* line 532, ../sass/screen.scss */
.form.assign_user .input {
  width: 100%;
}

/* line 537, ../sass/screen.scss */
.form.update_progress {
  width: 100%;
  border: none;
  padding: 0px 5px 0px;
}
/* line 541, ../sass/screen.scss */
.form.update_progress .title {
  font-size: 14px;
}
/* line 544, ../sass/screen.scss */
.form.update_progress .label {
  color: black;
  font-size: 12px;
}
/* line 548, ../sass/screen.scss */
.form.update_progress .input {
  width: 100%;
  font-size: 12px;
}
/* line 552, ../sass/screen.scss */
.form.update_progress .button {
  padding: 5px;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 559, ../sass/screen.scss */
.disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 574, ../sass/screen.scss */
.section {
  float: left;
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
}

/* line 581, ../sass/screen.scss */
#site_main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 601, ../sass/screen.scss */
#site_header {
  padding: 15px;
}

/* line 611, ../sass/screen.scss */
#site_main {
  padding: 15px;
}

/* line 616, ../sass/screen.scss */
#site_footer {
  text-align: center;
  font-size: 10px;
  color: #5e5e5e;
}

/* line 624, ../sass/screen.scss */
.home_panel #tasks_section {
  width: 30%;
}
/* line 627, ../sass/screen.scss */
.home_panel #projects_section {
  width: 40%;
}
/* line 630, ../sass/screen.scss */
.home_panel #users_section {
  width: 30%;
}

/* line 636, ../sass/screen.scss */
.user_panel #profile_section {
  width: 33.33%;
}
/* line 639, ../sass/screen.scss */
.user_panel #tasks_section {
  width: 33.33%;
}
/* line 642, ../sass/screen.scss */
.user_panel #projects_section {
  width: 33.33%;
}

/* line 648, ../sass/screen.scss */
.project_panel #profile_section {
  width: 33.33%;
}
/* line 651, ../sass/screen.scss */
.project_panel #tasks_section {
  width: 33.33%;
}
/* line 654, ../sass/screen.scss */
.project_panel #users_section {
  width: 33.33%;
}

/* line 660, ../sass/screen.scss */
.task_panel #task_details_section {
  width: 67%;
}
/* line 663, ../sass/screen.scss */
.task_panel #users_section {
  width: 33%;
}

/* line 671, ../sass/screen.scss */
#profile_section .section_header,
#task_details_section .section_header {
  border-bottom: none;
}
/* line 674, ../sass/screen.scss */
#profile_section .title,
#task_details_section .title {
  font-size: 40px;
  border-bottom: none;
}
/* line 678, ../sass/screen.scss */
#profile_section .name,
#task_details_section .name {
  font-size: 34px;
  font-weight: normal;
  color: #5e5e5e;
}
/* line 683, ../sass/screen.scss */
#profile_section .figure,
#task_details_section .figure {
  border: 1px solid black;
  width: 50%;
}
/* line 687, ../sass/screen.scss */
#profile_section .key,
#profile_section .value,
#task_details_section .key,
#task_details_section .value {
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 699, ../sass/screen.scss */
#projects_list .name {
  font-size: 20px;
}

/* line 706, ../sass/screen.scss */
#users_list .key.user {
  float: none;
  display: block;
  font-size: 16px;
}
/* line 711, ../sass/screen.scss */
#users_list .value.user {
  float: none;
  display: block;
  font-size: 14px;
}
/* line 716, ../sass/screen.scss */
#users_list .progress_description {
  margin-top: 10px;
}
